/* ------------------------------------------- 
        Fonts
 ---------------------------------------------*/

 @font-face {
  font-family: "ModestoPoster";
  src: url(/systems/devastra/fonts/Modesto-Poster-W05-Regular.ttf);
}

.devastra .window-content {
  height: 100%;
  padding: 5px;
  overflow: hidden;
}
.devastra form {
  height: 100%;
  color: rgb(0, 103, 146);
}
.devastra .sheet-header {
  flex: 0 0 160px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  height: 100%;
  overflow-y: clip;
  
  background-color: white;
  background-position: top right; 
}

.devastra .sheet-display {
  display: flex;
  column-gap: 10px;
  /* overflow-y: auto; */
  overflow-y: hidden;
}

.devastra .side-sheet {
  min-width: 190px;
  max-width: 190px;
  overflow-y: auto;
}

.devastra .side-sheet .logo-img {
  max-height: 100%;
  width: auto;
}

.devastra .side-sheet .click-prefs {
  font-size: 20px;
}

.devastra .side-sheet h1.charname {
  height: 50px;
  padding: 5px;
  margin: 5px 0;
  border-bottom: 0;
}

.devastra .side-sheet h1.charname input {
  width: 100%;
  height: 28px;
  font-size: 22px;
  margin: 0;
}

.devastra .concept {
  text-align: center;
}

.devastra .concept input {
  height: 28px;
  text-align: center;
}
.devastra .concept select {
  text-align: center;
}

.devastra .body-sheet {
  white-space: nowrap; 
  width: 710px;
}

.devastra .tab {
  white-space: wrap;
}


.devastra.sheet.actor.character {
  min-width: 420px; /* 560px; */
  max-width: 920px;
  min-height: 420px;
  max-height: 850px;

}

.devastra input:invalid {
  border: solid red 3px;
}

.devastra .tabs {
  flex: 0 0 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  overflow-y: clip;
  background-color: white;
  background-position: top right; 
}








.devastra .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.devastra .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.devastra .sheet-body {
  height: 100%; 
  overflow: auto;
}

.devastra .sheet-body .tab {
  white-space: wrap;
  /* height: 100%; */
  min-height: 1500px;
  height: 100%;
  width: 700px;
  padding: 2px;
  background-color: white;
  background-position: bottom left; 
}

/*
.devastra.sheet.character .sheet-body .tab .chakra,
.devastra.sheet.character .sheet-body .tab .mandala {
  height: 1500px;
}
*/

.devastra .side-sheet .NPCtype {
  text-align: center;
  font-family: ModestoPoster;
}

.devastra .side-sheet .sheet-logo img {
  border: 0;
}

.devastra .side-sheet .initiative {
  display: flex;
  justify-content: center;
  align-items: center;
}


.devastra .sheet-body .click:hover,
.devastra .side-sheet .click:hover,
.devastra .sheet-display .click:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 6px #af010a);
}

.devastra .sheet-body .grab:hover {
  cursor: url(grab.cur), move;
  cursor: grab;
  cursor: -moz-grab;
}


.devastra .sheet-body img {
  border: 0;
}

/* concerne les onglets */
.devastra .sheet-body .tab.devastras,
.devastra .sheet-body .tab.magies,
.devastra .sheet-body .tab.dharmas,
.devastra .sheet-body .tab.karmas,
.devastra .sheet-body .tab.items {
  outline-offset: 2px;
  background: linear-gradient(to left, white, rgb(244, 229, 195));
  border: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: rgb(235, 211, 149);
  padding: 2px;
}

.devastra .sheet-body .magiesenseignementsnotes table.domain-table,
.devastra .sheet-body .magiesenseignementsnotes div.domain-div,
.devastra .sheet-body .statistiques table.domain-table,
.devastra .sheet-body .statistiques div.domain-div {
  outline-offset: 2px;
  background: linear-gradient(to right, white, rgb(244, 229, 195));
  border-width: 0px;
  border-radius: 15px;
  padding: 2px;
  margin-left: -3px;
}

.devastra .sheet-body .statistiques div.domain-div .input-short {
  width: 50px;
}

.devastra .sheet-body .statistiques div.domain-div .left {
  text-align: left;
}

.devastra .sheet-body .statistiques table.domain-table .blessavatar {
  width: 65px;
  font-size: 11px;
}

.devastra .sheet-body .statistiques table.domain-table-npc .blessnpc,
.devastra .sheet-body .statistiques table.domain-table-npc .blessmonster {
  font-size: 11px;
  text-align: center;
}

.devastra .sheet-body .statistiques table.domain-table .label {
  width: 125px;
  text-align: center;
}
.devastra .sheet-body .statistiques table.domain-table .specialities {
  width: 325px;
}
.devastra .sheet-body .statistiques table.domain-table .nbre {
  width: 20px;
}


/*
.devastra .sheet-body .statistiques table.domain-table tr:nth-child(odd) {
  background-color: transparent;
}

.devastra .sheet-body .statistiques table.domain-table tr:nth-child(even) {
  background-color: transparent;
}
*/

.devastra .sheet-body .statistiques td.specialities input,
.devastra .sheet-body .statistiques div.specialities input {
  font-size: 11px;
  height: 20px;
}

.devastra .sheet-body .statistiques div.enseignements,
.devastra .sheet-body .statistiques div.benedictionoumalediction,
.devastra .sheet-body .statistiques div.blessuresoustatuts {

  outline-offset: 2px;
  background: linear-gradient(to left, white, rgb(244, 229, 195));
  border: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: rgb(235, 211, 149);
  padding: 2px;
}

.devastra .sheet-body .statistiques table tr td.valuedice {
  font-size: 25px;
}

.devastra .sheet-body .statistiques table tr td.domain-icon {
  width: 55px;
}


.devastra .sheet-body .statistiques table tr td.click {
  width: 27px;
}
.devastra .sheet-body .statistiques table tr td.noclick {
  width: 27px;
} 
.devastra .sheet-body .statistiques table tr td table tr td.icon-d {
  width: 27px;
}
.devastra .sheet-body .statistiques table tr td.bonus {
  width: 35px;
}
.devastra .sheet-body .statistiques table tr td.label {
  width: 25%;
}
.devastra .sheet-body .statistiques table tr td.check {
  width: 5%;
}

.devastra .sheet-body .statistiques table tr td.image {
  width: 5%;
  text-align: center;
}
.devastra .sheet-body .statistiques table tr td.image img {
  z-index: 4;
  width: 100%;
}
.devastra .sheet-body .statistiques table tr td.image div.stick {
  margin-top: -52px;
  z-index: 2;
  width: 3%;
  text-align: center;
}
.devastra .sheet-body .statistiques table tr td.image input.input {
/* border: 0; */
  width: 30px;
  text-align: center;
}


.devastra .sheet-body .statistiques table tr td.imageb {
  width: 5%;
  text-align: center;
}
  .devastra .sheet-body .statistiques table tr td.imageb img {
  z-index: 4;
  width: 100%;
}
.devastra .sheet-body .statistiques table tr td.imageb div.stick {
  margin-top: -92px;
  z-index: 2;
  width: 1%;
  text-align: center;
}
.devastra .sheet-body .statistiques table tr td.imageb input.input {
/* border: 0; */
  width: 30px;
  text-align: center;
}

.devastra .sheet-body .statistiques table tr td.specialities input.input {
  width: 100%;
  text-align: left;
}


/* concerne les items */

.devastra .editor,
.devastra .editor-content {
  height: 100%;
}

.devastra .attributes .quantity,
.devastra .attributes .weight {
  width: 60px;
  text-align: center;
}

.devastra .item-list {
  list-style: none;
  margin: 0px 0;
  padding: 0;
  overflow-y: auto;
  font-weight: normal;
}
.devastra .item-list .item {
  min-height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  align-items: stretch;
}
.devastra .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.devastra .item-list .item-name {
  margin: 0;
  color: rgb(0, 103, 146);
  /* text-transform: uppercase; */
  font-weight: bold;
}
.devastra .item-list .item-controls {
  flex: 0 0 36px;
  color: rgb(0, 103, 146);
}
.devastra .item-list .item-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  flex: 2;
  justify-content: flex-start;
}
.devastra .item-list .item-button {
  line-height: 1;
  font-size: 11px;
  flex: none;
  width: auto;
}
.devastra .attributes {
  position: relative;
}
.devastra .attributes .attribute-control,
.devastra .attributes .group-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}
.devastra .attributes .attribute-roll {
  flex: 0 0 20px;
  text-align: center;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.devastra .attributes .group-prefix {
  height: 31px;
  margin-right: 10px;
}
.devastra .attributes .button {
  width: 100%;
  flex: 1;
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #f0f0e0;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  display: block;
}
.devastra .attributes .attribute-key {
  background: transparent;
  border: none;
}
.devastra .attributes-header {
  position: sticky;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 5px;
  margin: 5px 0;
  background: #cfcdc2;
  border: 1px solid #AAA;
  border-radius: 2px;
  text-align: left;
  font-weight: bold;
}
.devastra .attributes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.devastra .attributes-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #AAA;
}
.devastra .attributes-list .attribute-col label {
  font-size: 10px;
  text-align: center;
  line-height: 1;
}
.devastra .attributes-list .attribute-col input {
  font-size: 11px;
  text-align: center;
  line-height: 1;
  height: 50%;
}
.devastra .attribute input[type="text"]::placeholder,
.devastra .group-header input[type="text"]::placeholder {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.devastra .attribute input[type="text"]:focus::placeholder,
.devastra .group-header input[type="text"]:focus::placeholder {
  opacity: 1;
}
.devastra .group-controls {
  margin: 5px;
}
.devastra .groups-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.devastra .group {
  margin: 5px 0 0;
  padding: 0;
}
.devastra .group-header {
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #AAA;
  border-radius: 2px;
  padding: 2px 5px;
}
.devastra .group-key,
.devastra .group-label {
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #AAA;
  background: transparent;
  border-radius: 0;
  margin-right: 6px;
}
.devastra .group-key {
  opacity: 0.75;
}
.devastra .group-label {
  flex: 2;
}
.devastra .group-dtype {
  height: 24px;
  flex: 0 0 116px;
  margin: 0 5px;
}



.devastra .data tr td.bonus,
.devastra .data tr td.malus {
  text-align: center;
}





.devastra.sheet.character {
  min-width: 920px; /* 560px; */
  max-width: 920px;
  min-height: 350px;
  max-height: 900px;
}





/* concerne la fiche npc-sheet */

.devastra.sheet.actor.npc {
  min-width: 420px; /* 560px; */
  max-width: 1310px;
  min-height: 420px;
  max-height: 850px;
}

.devastra.sheet.actor.monster {
  min-width: 420px; /* 560px; */
  max-width: 1310px;
  min-height: 420px;
  max-height: 850px;
}


/* concerne les items aspect et anomaly */

.devastra .sheet-body .attributes .libel-statistiques {
  width: 75%;
}
.devastra .sheet-body .attributes .bonus,
.devastra .sheet-body .attributes .malus {
  text-align: center;
}


/* Concerne les prompts */
.devastra .form-body .flex {
  display: flex;
}

.devastra .form-body .flex .cadre {
  width: 50%;
}

.devastra .form-body .left {
  float: left;
}

.devastra .form-body .frame div.cadre {
  outline-offset: 2px;
  background: linear-gradient(to right, white, rgb(244, 229, 195));
  border-width: 0px;
  border-radius: 15px;
  padding: 5px;
}

.devastra .form-body .frame div.dicebar {
  background: linear-gradient(to right, white, rgb(244, 229, 195));
  border: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: rgb(235, 211, 149);
  color: rgb(0, 103, 146);
  padding: 5px;
}

.devastra .form-body .frame .dicebar i {
  margin-left: 3px;
}

.devastra .form-body .frame div.domain {
  outline-offset: 2px;
  background: linear-gradient(to right, white, rgb(244, 229, 195));
  border: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: rgb(235, 211, 149);
}

.devastra .form-body .frame table tr td.domain-icon {
  width: 35px;
}

.devastra .form-body .frame table tr td.domain-icon img {
  border: 0;
}

.devastra .form-body .frame table tr td.label {
  width: 150px;
}

.devastra .form-body .frame .input {
  text-align: center;
}


.devastra .form-body .frame div.domain table,
.devastra .form-body .frame div.dicebar table {
  border: 0;
}

.devastra .form-body .frame table {
background-color: transparent;
}

.devastra .form-body .frame table tr {
  border: 0;
}

.devastra .form-body .frame table tr:nth-child(odd) {
  background-color: transparent;
}

.devastra .form-body .frame table tr:nth-child(even) {
  background-color: transparent;
}

.devastra .form-body .frame div table tr td.valeur2 {
  font-size: 20px;
  text-align: right;
}

.devastra .form-body .frame div table tr td.right {
  text-align: right;
}

.devastra .form-body .frame div table tr td span.margeg15 {
  margin-left: 20px;
}

.devastra .form-body .frame .douzepc {
  width: 12%;
}

.devastra .form-body .frame .tierspc {
  width: 33.33%;
}

.devastra .form-body .frame div.center,
.devastra .form-body .frame p.center,
.devastra .form-body .frame span.center,
.devastra .form-body .frame td.center {
  text-align: center;
}

.devastra .form-body .frame td {
  color: rgb(0, 103, 146);
}

.devastra div.dialog-buttons {
  display: flex;
}

.devastra button.dialog-button {
  height: 35px;
}



/* Concerne chakras */

.devastra .sheet-body .chakra_wrap {
  background-image: url("");
}  
	
.devastra .sheet-body .chakra_wrap {
    position: relative;
    overflow: hidden;
    padding: 16px;
    border: no-border;
}
.devastra .sheet-body .chakra_wrap .schema {
    padding: 0px;
    position: relative;
    z-index: 2;
}
.devastra .sheet-body .chakra_wrap img.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.devastra .sheet-body .chakras p.textred,
.devastra .sheet-body .chakras span.textred {
  font-size: 9px;
  color: red;
  text-transform: uppercase;
  text-align: center;
}

.devastra .sheet-body .chakras div.center,
.devastra .sheet-body .chakras p.center,
.devastra .sheet-body .chakras span.center,
.devastra .sheet-body .chakras td.center {
  text-align: center;
}

.devastra .sheet-body .chakras .centered-element {
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  text-align: center;
}

.devastra .sheet-body .chakras .parent {
  position: relative;
}

.devastra .sheet-body .chakras .child1 {
  z-index: 1;
}

.devastra .sheet-body .chakras .child2 {
  position: absolute;
  margin-top: -32px;
  margin-left: -14px;
  color: rgb(0, 103, 146);
  font-size: 32px;
}

.devastra .sheet-body .chakras table {
  background-color: transparent;
  border: 0;
}
  
.devastra .sheet-body .chakras table tr {
  border: 0;
  height:73px;
}

.devastra .sheet-body .chakras table tr:nth-child(odd) {
  background-color: transparent;
}

.devastra .sheet-body .chakras table tr:nth-child(even) {
  background-color: transparent;
}

.devastra .sheet-body .chakras table td.quaranteseptpc {
  width: 47.5%;
}

.devastra .sheet-body .chakras table td.clickonchakra {
  width: 5%;
}


/* Concerne mandalas */

.devastra .sheet-body .mandala_wrap {
  background-image: url("");
}

.devastra .sheet-body .mandalas img.dropshadow {
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  filter: drop-shadow(5px 5px 5px #666666);
}
	
.devastra .sheet-body .mandala_wrap {
  position: relative;
  overflow: hidden;
  padding: 16px;
  border: 0;
}
.devastra .sheet-body .mandala_wrap .schema {
  padding: 0px;
  position: relative;
  z-index: 2;
}
.devastra .sheet-body .mandala_wrap img.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.devastra .sheet-body .mandala_wrap div.mandala_decale {
  position: absolute;
  z-index: 3;
  display: flex;
  font-weight: bold;
  margin-top: 45px;
  margin-left: 185.2px;
}
/* Chrome version 29 and above */
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
  .devastra .sheet-body .mandala_wrap div.mandala_decale {
    margin-top: 43px;
    margin-left: 183px;
  }
}
@supports (-moz-appearance:none) {
  .devastra .sheet-body .mandala_wrap div.mandala_decale {
    margin-top: 45px;
    margin-left: 185px;
  }
}


.devastra .sheet-body .mandala_wrap div.viseur_decale {
  position: absolute;
  z-index: 3;
  display: flex;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 185px;
}
/* Chrome version 29 and above */
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
  .devastra .sheet-body .mandala_wrap div.viseur_decale {
    margin-top: 48px;
    margin-left: 183px;
  }
}
@supports (-moz-appearance:none) {
  .devastra .sheet-body .mandala_wrap div.viseur_decale {
    margin-top: 50px;
    margin-left: 185px;
  }
}


/*
.devastra .sheet-body .mandalas span.valeur-mandala {
  font-size: 35px;
  height: 68px;
  width: 70px;
} */

.devastra .sheet-body .mandalas img.padding3px {
  padding: 3px;
}

.devastra .sheet-body .mandalas img.padding10px {
  padding: 10px;
}

.devastra .sheet-body .mandalas input.input {
  text-align: center;
}

.devastra .sheet-body .mandalas div.upDiv {
  display: table;
  width: 100%;
}

.devastra .sheet-body .mandalas div.logoInitiative {
  float: left;
  width: 24.55%;
}

.devastra .sheet-body .mandalas div.emptyCol {
  width: 3%;
}

.devastra .sheet-body .mandalas div.downDiv {
  display: flex;
}

.devastra .sheet-body .mandalas div.leftDiv {
  width: 50%;
}

.devastra .sheet-body .mandalas div.rightDiv {
  width: 50%;
}

.devastra .sheet-body .mandalas div.initiativeDiv {
  display: table;
  width: 100%;
  border-radius: 15px;
  background: linear-gradient(to right, white, rgb(244, 229, 195));
  padding: 2px;
}

.devastra .sheet-body .mandalas div.valeur,
.devastra .sheet-body .mandalas p.valeur,
.devastra .sheet-body .mandalas span.valeur {
 font-size: 25px;
}

.devastra .sheet-body .mandalas div.center,
.devastra .sheet-body .mandalas p.center,
.devastra .sheet-body .mandalas span.center,
.devastra .sheet-body .mandalas td.center {
  text-align: center;
}

.devastra .sheet-body .mandalas div.initiativeCol {
  float: left;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.devastra .sheet-body .mandalas div.initiativeDiv .logo {
  float: left;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.devastra .sheet-body .mandalas div.initiativeDiv div.jetonDepotInit {
  display: table;
  width: 100%;
}

.devastra .sheet-body .mandalas .concentrationDie {
  width: 17%;
}

.devastra .sheet-body .mandalas .concentrationDiv {
  float: left;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.devastra .sheet-body .mandalas .concentrationCol {
  float: left;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.devastra .sheet-body .mandalas div.jetonDepotInit div.depotInit {
  float: left;
  width: 42%;
}

.devastra .sheet-body .mandalas div.jetonDepotInit div.bonusinit {
  float: left;
  width:8%;
}

.devastra .sheet-body .mandalas div.jetonDepotInit div.depotPoubelle {
  float: left;
  width: 42%;
}

.devastra .sheet-body .mandalas div.jetonDepotInit div.logoPoubelle {
  float: left;
  width:8%;
}

.devastra .sheet-body .mandalas p.textred,
.devastra .sheet-body .mandalas span.textred {
  font-size: 9px;
  color: red;
  text-transform: uppercase;
  text-align: center;
}


.devastra .sheet-body .mandalas div.pranaDiv {
  display: table;
  width: 100%;
  border-radius: 15px;
  background: linear-gradient(to right, white, rgb(244, 229, 195));
  padding: 2px;
  margin-left: -5px;
}

.devastra .sheet-body .mandalas div.pranaCol {
  float: left;
  width: 15%;
}

.devastra .sheet-body .mandalas div.pranaCol input.value {
  font-size: 25px;
}

.devastra .sheet-body .mandalas div.logopranableu {
  width: 25%;
}

.devastra .sheet-body .mandalas div.tableauprana {
  width: 63%;
}

.devastra .sheet-body .mandalas div.logopranavalue {
  width: 12%;
}


.devastra .sheet-body .mandalas div.tableauprana table tr td.logopranaetats {
  width: 14%;
}

.devastra .sheet-body .mandalas div.tableauprana table tr td.logopranaetats2 {
  width: 7%;
}

.devastra .sheet-body .mandalas div.tableauprana table tr.retreci {
  height: 20px;
}


.devastra .sheet-body .mandalas div.shaktiDiv {
  display: table;
  width: 100%;
  border-radius: 15px;
  background: linear-gradient(to right, white, rgb(244, 229, 195));
  padding: 2px;
  margin-right: -5px;
}

.devastra .sheet-body .mandalas div.shaktiCol {
  float: left;
  width: 25%;
}

.devastra .sheet-body .mandalas div.shaktiCol col.myPile {
  width: 100%;
}

.devastra .sheet-body .mandalas div.shaktiDiv div.reduit {
  width: 10%;
}

.devastra .sheet-body .mandalas div.shaktiDiv .smallText {
  font-size: 10px;
  width: 40%;
}

.devastra .sheet-body .mandalas div.shaktiDie {
  width: 25%;
}

.devastra .sheet-body .mandalas div.atmanDiv {
  display: table;
  width: 50%;
  border-radius: 15px;
  background: linear-gradient(to right, white, rgb(244, 229, 195));
  padding: 2px;
  margin-right: -5px;
}

.devastra .sheet-body .mandalas div.atmanCol1 {
  float: left;
  width: 50%;
}

.devastra .sheet-body .mandalas div.atmanCol2 {
  float: left;
  width: 25%;
}


.devastra .sheet-body .mandalas div.convictionDiv {
  display: table;
  width: 100%;
  border-radius: 15px;
  background: linear-gradient(to right, white, rgb(244, 229, 195));
  padding: 2px;
  margin-left: -5px;
}

.devastra .sheet-body .mandalas div.convictionCol {
  float: left;
  width: 25%;
}

.devastra .sheet-body .mandalas div.convictionDiv .smallText {
  float: left;
  font-size: 10px;
  width: 63%;
}

.devastra .sheet-body .mandalas div.convictionDiv .valeur {
  float: left;
  font-size: 25px;
  width: 12%;
}


.devastra .sheet-body .mandalas div.pileConviction {
  display: table;
  width: 100%;
}

.devastra .sheet-body .mandalas div.columnPile {
  float: left;
  width: 21%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.devastra .sheet-body .mandalas div.columnWrap {
flex-wrap: wrap;
}

/* .devastra .sheet-body .mandalas div.columnPileNoWrap {
  flex-wrap: nowrap;
}
*/

.devastra .sheet-body .mandalas div.pileConviction div.reduit {
  float: left;
  display: flex;
  width: 17%;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.devastra .sheet-body .mandalas div.actionDiv {
  display: table;
  width: 42%;
  border-radius: 15px;
  background: linear-gradient(to right, white, rgb(244, 229, 195));
  padding: 2px;
  margin-left: -5px;
}

.devastra .sheet-body .mandalas div.actionCol {
  float: left;
  width: 50%;
  text-align: center;
}


.devastra .sheet-body .mandalas div.columnEmpty {
  float: left;
  width: 62%;
  display: flex;
}

.devastra .sheet-body .mandalas div.jetonDepot {
  float: left;
  width: 10.35%;
}

.devastra .sheet-body .mandalas .jetonDepot .decale p {
  font-size: 35px;
  font-weight: bold;
  text-align: right;
  /* background-position: right 30px top -30px; */
}



/* Concerne les NPC */

.devastra.sheet.actor.npc .sheet-body,
.devastra.sheet.actor.monster .sheet-body {
  width: 1100px;
}
.devastra.sheet.actor.npc .body-sheet,
.devastra.sheet.actor.monster .body-sheet {
  width: 1100px;
}
.devastra.sheet.actor.npc .body-sheet .sheet-body .tab,
.devastra.sheet.actor.monster .body-sheet .sheet-body .tab {
  white-space: wrap;
  height: 3000px;
  width: 1100px;
}

.devastra .sheet-body .statistiques table.domain-table-npc {
  border-width: 0px;
  background-color: transparent;
}

/*
.devastra .sheet-body .statistiques table.domain-table-npc tr:nth-child(odd) {
  background-color: transparent;
}

.devastra .sheet-body .statistiques table.domain-table-npc tr:nth-child(even) {
  background-color: transparent;
}
*/

.devastra .side-sheet .npctype-child2 img,
.devastra .side-sheet .monstertype-child2 img {
  border: 0;
  padding-right: 2px;
  padding-top: 2px;
}
.devastra .side-sheet .npctype-parent,
.devastra .side-sheet .monstertype-parent {
  position: relative;
}
.devastra .side-sheet .npctype-child2,
.devastra .side-sheet .monstertype-child2 {
  position: absolute;
  z-index: 3;
  right: 0;
}
.devastra .side-sheet .npctype-child1,
.devastra .side-sheet .monstertype-child1 {
  position: absolute;
}


.devastra.sheet.actor.npc .body-sheet .npc-parent,
.devastra.sheet.actor.monster .body-sheet .monster-parent {
  position: relative;
}
.devastra.sheet.actor.npc .body-sheet .npc-child1,
.devastra.sheet.actor.monster .body-sheet .monster-child1 {
  position: absolute;
  z-index: 2;
  margin-left: 38px;
  margin-top: 25px;
}
.devastra.sheet.actor.npc .body-sheet .npc-child2,
.devastra.sheet.actor.monster .body-sheet .monster-child2 {
  position: absolute;
}

.devastra.sheet.actor.npc .body-sheet span.decale,
.devastra.sheet.actor.monster .body-sheet span.decale {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}
.devastra.sheet.actor.npc .body-sheet span.rouge,
.devastra.sheet.actor.monster .body-sheet span.rouge {
  color: red;
}

.devastra.sheet.actor.npc .body-sheet .center,
.devastra.sheet.actor.monster .body-sheet .center {
  text-align: center;
}
.devastra.sheet.actor.npc .body-sheet .right,
.devastra.sheet.actor.monster .body-sheet .right {
  text-align: right;
}

.devastra .side-sheet .sheet-nav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(244, 229, 195);
  z-index: 5;
  font-family: "ModestoPoster";
  font-size: x-large;
  border-radius: 3px;
  padding: 2px;
}

.devastra.sheet.actor.npc .body-sheet div.minitext input,
.devastra.sheet.actor.monster .body-sheet div.minitext input {
  font-size: 11px;
  height: 20px;
}

.devastra.sheet.actor.npc .body-sheet .sheet-nav-container details > summary,
.devastra.sheet.actor.monster .body-sheet .sheet-nav-container details > summary {
 cursor: pointer;
}

.devastra.sheet.actor.npc .body-sheet .sheet-nav-container #npcTypeSelect,
.devastra.sheet.actor.monster .body-sheet .sheet-nav-container #npcTypeSelect {
 font-size: large;
 color: rgb(0, 103, 146);
}






.devastra.sheet.actor.npc .body-sheet .clickonmandala,
.devastra.sheet.actor.monster .body-sheet .clickonmandala {
  height: 83.25px;
  width: 83.25px;
  position: relative;
}

.devastra.sheet.actor.npc .body-sheet .translucide,
.devastra.sheet.actor.monster .body-sheet .translucide {
  filter: opacity(50%);
}        

.devastra.sheet.actor.npc .body-sheet span.decale,
.devastra.sheet.actor.monster .body-sheet span.decale {
  position: absolute;
}

.devastra.sheet.actor.npc .body-sheet img.viseur,
.devastra.sheet.actor.monster .body-sheet img.viseur {
  position: absolute;
  z-index: 3;
  margin-left: -28.5px;
  margin-top: -15px;
  /* Chrome version 29 and above */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
  selector{ margin-left: -41.5px; margin-top: -15px; }
  }
  */

}



.devastra.sheet.actor.character .body-sheet img.viseur {
  float: left;
  height: 68px;
  width: 69.17px;
}
/* Chrome version 29 and above */
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
  .devastra.sheet.actor.character .body-sheet img.viseur {
    width: 69.2px;
  }
}
@supports (-moz-appearance:none) {
  .devastra.sheet.actor.character .body-sheet img.viseur {
    width: 69.2px;
  }
}



.devastra.sheet.actor.character .body-sheet img.viseur-invisible {
  visibility: hidden;
}

.devastra.sheet.actor.character .body-sheet span.mandala-decale {
  float: left;
  font-size: 35px;
  filter: opacity(50%);
  height: 68px;
  width: 69.43px;
}
/* Chrome version 29 and above */
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
  .devastra.sheet.actor.character .body-sheet span.mandala-decale {
    width: 69.45px;
  }
}
@supports (-moz-appearance:none) {
  .devastra.sheet.actor.character .body-sheet span.mandala-decale {
    width: 69.5px;
  }
}







/* SMART BLUE BUTTON dans le tchat */

.devastra-result-window .blue-buttons {
  text-align: center;
}

.devastra-result-window .smart-blue-button:hover {
cursor: pointer;
}

.demo:active::before {
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}

.devastra-result-window .smart-blue-button {
  background-color:#3bb3e0;
	font-family: "ModestoPoster";
	font-size:12px;
	text-decoration:none;
	color:rgb(235, 211, 149);
	position:relative;
	padding:10px 20px;
	padding-right:50px;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

.devastra-result-window .smart-blue-button:active {
  top:3px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

.devastra-result-window .smart-blue-button::before {
	background-color:#2591b4;
	background-image:url(/systems/devastra/images/ui/right_arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:20px;
	height:20px;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-9px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}

.devastra-result-window .smart-blue-button:active::before {
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}







/* concerne le tchat */
.devastra-result-window b.text-blue {
  color: rgb(0, 103, 146);
}


.devastra-result-window img.plate-d8 {
  text-align: center;
  width: 100%; /* 70% ? */
  border: 0px;
  padding: 10px;
}

.devastra-result-window img.plate {
  text-align: center;
  width: 100%; /* 70% ? */
  border: 0px;
  padding: 10px;
}

.devastra-result-window img.plate-domain {
  text-align: center;
  width: 100%;
  border: 0px;
  padding: 0px;
}

.devastra-result-window img.plate-defence {
  text-align: center;
  width: 90%;
  border: 0px;
  padding: 2px;
}


.devastra-result-window td.tiers-centre {
  width: 33.33%;
  text-align: center;
}

.devastra-result-window td.width38pc {
  width: 32%;
}

.devastra-result-window td.width25px {
  width: 65px;
}

.devastra-result-window span.font-18 {
  font-size: 18px;
  text-align: center;
}

.devastra-result-window table.devastra-no-rich {
  border: 0px;
  background-color: transparent;
}

.devastra-result-window tr.devastra-no-rich {
background-color: transparent;
}

/*
.devastra-result-window div.devastra-moon {
  border-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.devastra-result-window img.devastra-moon {
  width: 75px;
  border-width: 0px;
  filter: drop-shadow(0px 0px 20px rgb(0, 103, 146));
}

.devastra-result-window div.devastra-die {
  border-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.devastra-result-window img.devastra-die {
  width: 40px;
  border-width: 0px;
  filter: drop-shadow(0px 0px 15px rgb(0, 103, 146));
}
*/

/*  */

.devastra .side-sheet h1.charname {
  font-family: "ModestoPoster";
  font-size: 20px;
}
.devastra .side-sheet .concept input[type="text"] {
  font-family: "ModestoPoster";
  font-size: 20px;
}
.devastra .side-sheet .concept select[name="system.anomaly"] {
  font-family: "ModestoPoster";
  font-size: 16px;
}
.devastra .side-sheet .concept input[type="number"] {
  font-family: "ModestoPoster";
  font-size: 16px;
  width: 20px;
}
.devastra .side-sheet .concept select[name="system.anomalymax"] {
  font-family: "ModestoPoster";
  font-size: 16px;
}

.devastra .side-sheet .concept .initiative,
.devastra .side-sheet .concept .armure {
  font-family: "ModestoPoster";
  font-size: 16px;
}





/* concerne les APP */


/* Concerne le GM MANAGER */
.devastra.gm-manager {
  min-width: 315px; /* 560px; */
  max-width: 315px;
  height: 735px;
  max-height: 735px;
}

.devastra.gm-manager .body-sheet .mandala-parent {
  position: relative;
}
.devastra.gm-manager .body-sheet .mandala-child1 {
  position: absolute;
  z-index: 2;
  margin-left: 40px;
  margin-top: 25px;
  /* Chrome version 29 and above */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
  selector{ margin-left: 20px; margin-top: 25px; }
  }
  */
  
}
.devastra.gm-manager .body-sheet .mandala-child2 {
  position: absolute;
}

.devastra.gm-manager .body-sheet span.decale {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}
.devastra.gm-manager .body-sheet span.rouge {
  color: red;
}

.devastra.gm-manager .body-sheet .translucide {
  filter: opacity(50%);
}


/* Concerne le PLAYERS MANAGER */
.devastra.players-manager .mandala_wrap {
  background-image: url("");
}

.devastra.players-manager .drop-shadow {
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  filter: drop-shadow(5px 5px 5px #666666);
}
	
.devastra.players-manager .mandala_wrap {
  position: relative;
  /* overflow: hidden; */
  padding: 16px;
  border: 0;
  margin-top: -10px;
}
.devastra.players-manager .mandala_wrap .schema {
  padding: 0px;
  position: relative;
  z-index: 2;
  display: flex;
  margin-left: 75px;
}
.devastra.players-manager .mandala_wrap img.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.devastra.players-manager .mandala_wrap div.mandala_decale {
  position: absolute;
  z-index: 3;
  display: flex;
  font-weight: bold;
  margin-top: 62px;
  margin-left: 128px;
}
/* Chrome version 29 and above */
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
  .devastra.players-manager .mandala_wrap div.mandala_decale {
    margin-top: 62px;
    margin-left: 128px;
  }
}
@supports (-moz-appearance:none) {
  .devastra.players-manager .mandala_wrap div.mandala_decale {
    margin-top: 62px;
    margin-left: 128px;
  }
}


.devastra.players-manager .mandala_wrap div.viseur_decale {
  position: absolute;
  z-index: 3;
  display: flex;
  font-weight: bold;
  margin-top: 57px;
  margin-left: 225px;
}
/* Chrome version 29 and above */
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
  .devastra.players-manager .mandala_wrap div.viseur_decale {
    margin-top: 50px;
    margin-left: 225px;
  }
}
@supports (-moz-appearance:none) {
  .devastra.players-manager .mandala_wrap div.viseur_decale {
    margin-top: 51px;
    margin-left: 225px;
  }
}

.devastra.players-manager .menu {
  position: absolute;
  z-index: 4;
  margin-top: 105px;
  margin-left: 5px;
}


.devastra.players-manager .valeur {
  font-size: 45px;
  width: 84px;
  filter: opacity(50%);
}
/* Chrome version 29 and above */
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
  .devastra.players-manager .valeur {
    width: 84.5px;
  }
}
@supports (-moz-appearance:none) {
  .devastra.players-manager .valeur {
    width: 84px;
  }
}



.devastra.players-manager img {
  border-width: 0;
}

.devastra.players-manager .jetonDepot {
  float: left;
  width: 84px;
  align-items: center;
  justify-content: center;
}

.devastra.players-manager .sheet-display {
  background-color: white;
} 




/* concerne l'interface de Foundry */

h1, h2, h3, h4, h5, h6 {
  border-bottom-color: rgb(0, 103, 146);
  color: rgb(0, 103, 146);
  font-family: "ModestoPoster";
  text-transform: uppercase;
}

.window-title,
/* .encounter, */
.encounter-title,
.token-name h4,
.document-name a,
a.compendium-name,
a.entry-name,
.playlist-header h4,
.sound h4,
.toolclip h4,
.settings-sidebar h2,
#players h3,
#menu #menu-items li h4 {
  color: #7ed0f6;
}

a.compendium-name,
a.entry-name,
strong.ellipsis {
  font-family: "ModestoPoster";
}


/*
.encounter-controls h3 {
  font-size: 24px;
}
*/

section.sidebar-tab h1.title {
  letter-spacing: -3px;
}
section.sidebar-tab h4.divider {
  font-size: 20px;
  letter-spacing: -1px;
}


#logo {
  content: url("/systems/devastra/images/ui/logo_jeu.png");
  width: 110px;
  height: 55px;
  margin-left: 5px;
  margin-top: 5px;
}

#pause { 
  top: calc(50% - 96px);
}

/*
#pause > img {
  content: url("/systems/devastra/images/ui/Wheel.webp");
  height: 192px;
  width: 192px;
  top: -45px;
  left: calc(50% - 96px);
}
*/

body.chakra #pause > img {
  content: url("/systems/devastra/images/ui/WheelChakra.webp");
  height: 192px;
  width: 192px;
  top: -45px;
  left: calc(50% - 96px);
}

body.deva-face #pause > img {
  content: url("/systems/devastra/images/ui/WheelDeva.webp");
  height: 192px;
  width: 192px;
  top: -45px;
  left: calc(50% - 96px);
}


/* concerne les préférences */

.devastra .side-sheet .click-prefs:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 6px #af010a);
}



/* concerne les pages de journaux */

.journal-header input {
  font-family: "ModestoPoster";
  text-transform: uppercase;
}

.journal-entry-page h1,
.journal-entry-page h2,
.journal-entry-page h3,
.journal-entry-page h4,
.journal-entry-page h5,
.journal-entry-page h6 {
  font-family: "ModestoPoster";
  text-transform: uppercase;
  color:rgb(0, 103, 146);
}


.devastra .editor-content h1,
.devastra .editor-content h2,
.devastra .editor-content h3,
.devastra .editor-content h4,
.devastra .editor-content h5,
.devastra .editor-content h6 {
  font-family: "ModestoPoster";
  text-transform: uppercase;
  color:rgb(0, 103, 146);
}



/* concerne les items sheets */

.devastra.sheet.itemsheet,
.devastra.sheet.benedictionoumaledictionsheet,
.devastra.sheet.blessureoustatutsheet,
.devastra.sheet.enseignementsheet,
.devastra.sheet.devastrasheet,
.devastra.sheet.pouvoirsheet,
.devastra.sheet.magiesheet,
.devastra.sheet.dharmasheet,
.devastra.sheet.karmasheet,
.devastra.sheet.notesheet {
  min-width: 460px;
  min-height: 400px;
  overflow: hidden;
}

.devastra.sheet.itemsheet .sheet-body,
.devastra.sheet.benedictionoumaledictionsheet .sheet-body,
.devastra.sheet.blessureoustatutsheet .sheet-body,
.devastra.sheet.enseignementsheet .sheet-body,
.devastra.sheet.devastrasheet .sheet-body,
.devastra.sheet.pouvoirsheet .sheet-body,
.devastra.sheet.magiesheet .sheet-body,
.devastra.sheet.dharmasheet .sheet-body,
.devastra.sheet.karmasheet .sheet-body,
.devastra.sheet.notesheet .sheet-body,
.devastra.sheet.tab.sheet-body {
  white-space: wrap;
}

.devastra.sheet.itemsheet .profile-img,
.devastra.sheet.benedictionoumaledictionsheet .profile-img,
.devastra.sheet.blessureoustatutsheet .profile-img,
.devastra.sheet.enseignementsheet .profile-img,
.devastra.sheet.devastrasheet .profile-img,
.devastra.sheet.pouvoirsheet .profile-img,
.devastra.sheet.magiesheet .profile-img,
.devastra.sheet.dharmasheet .profile-img,
.devastra.sheet.karmasheet .profile-img,
.devastra.sheet.notesheet .profile-img {
  background-color: lightgrey;
}

.devastra.sheet.benedictionoumaledictionsheet .sheet-header,
.devastra.sheet.blessureoustatutsheet .sheet-header,
.devastra.sheet.devastrasheet .sheet-header,
.devastra.sheet.dharmasheet .sheet-header,
.devastra.sheet.enseignementsheet .sheet-header,
.devastra.sheet.itemsheet .sheet-header,
.devastra.sheet.karmasheet .sheet-header,
.devastra.sheet.magiesheet .sheet-header,
.devastra.sheet.notesheet .sheet-header,
.devastra.sheet.pouvoirsheet .sheet-header,
.devastra.sheet.benedictionoumaledictionsheet .sheet-tabs,
.devastra.sheet.blessureoustatutsheet .sheet-tabs,
.devastra.sheet.devastrasheet .sheet-tabs,
.devastra.sheet.dharmasheet .sheet-tabs,
.devastra.sheet.enseignementsheet .sheet-tabs,
.devastra.sheet.itemsheet .sheet-tabs,
.devastra.sheet.karmasheet .sheet-tabs,
.devastra.sheet.magiesheet .sheet-tabs,
.devastra.sheet.notesheet .sheet-tabs,
.devastra.sheet.pouvoirsheet .sheet-tabs {
  background-color: white;
  opacity: 0.55;
}

.devastra.sheet.benedictionoumaledictionsheet .tab,
.devastra.sheet.blessureoustatutsheet .tab,
.devastra.sheet.devastrasheet .tab,
.devastra.sheet.dharmasheet .tab,
.devastra.sheet.enseignementsheet .tab,
.devastra.sheet.itemsheet .tab,
.devastra.sheet.karmasheet .tab,
.devastra.sheet.magiesheet .tab,
.devastra.sheet.notesheet .tab,
.devastra.sheet.pouvoirsheet .tab {
  background-color: transparent;
  width: auto;
  min-height: 0px;
  height: 100%;
}

/*
.devastra.sheet.blessureoustatutsheet .sheet-display,
.devastra.sheet.devastrasheet .sheet-display,
.devastra.sheet.dharmasheet .sheet-display,
.devastra.sheet.enseignementsheet .sheet-display,
.devastra.sheet.itemsheet .sheet-display,
.devastra.sheet.karmasheet .sheet-display,
.devastra.sheet.magiesheet .sheet-display,
.devastra.sheet.notesheet .sheet-display,
.devastra.sheet.pouvoirsheet .sheet-display {
}
*/

.devastra.sheet.benedictionoumaledictionsheet .window-content,
.devastra.sheet.blessureoustatutsheet .window-content,
.devastra.sheet.devastrasheet .window-content,
.devastra.sheet.dharmasheet .window-content,
.devastra.sheet.enseignementsheet .window-content,
.devastra.sheet.itemsheet .window-content,
.devastra.sheet.karmasheet .window-content,
.devastra.sheet.magiesheet .window-content,
.devastra.sheet.notesheet .window-content,
.devastra.sheet.pouvoirsheet .window-content {
  background-color: transparent;
  background-image: url("/systems/devastra/images/background/fond.png");
  height: 100%;
  padding: 5px;
}


/* concerne le Tchat */

#interface .chat-message .message-header img {
  max-width: 80px;
  border-radius: 5px;
  border: 0.5px solid rgb(0, 103, 146);;
  /* max-width: 50px; */
  /* max-height: 50px; */
  margin-right: 4px;
}

#interface .chat-message .message-header .message-sender {
  width: 100px;
}