<form class="flexcol {{cssClass}}" autocomplete="off">
	
    {{!-- Sheet Body --}}
    <section class="form-body">

        {{!-- Frame --}}
        <div class="frame">
            <div style="display: none;">
                <span class="nd">{{ nd }}</span>
                <span class="total">{{ total }}</span>
                <span class="attaquantficheId">{{ attaquantficheId }}</span>
                <span class="opposantficheId">{{ opposantficheId }}</span>
                <span class="consideropponentprotection">{{ consideropponentprotection }}</span>
                <span class="isinventory">{{ isinventory }}</span>
                <span class="weapon">{{ weapon }}</span>
                <span class="devastra">{{ devastra }}</span>
                <span class="power">{{ power }}</span>
                <span class="magic">{{ magic }}</span>

                <span class="selectedinventory">{{ selectedinventory }}</span>
                <span class="selectedinventorydevastra">{{ selectedinventorydevastra }}</span>
                <span class="selectedinventorypower">{{ selectedinventorypower }}</span>
                <span class="selectedinventorymagic">{{ selectedinventorymagic }}</span>
                <span class="damage">{{ damage }}</span>
                <span class="damagetype">{{ damagetype }}</span>
                
                <span class="defence">{{ defence }}</span>
            </div>

            <div class="dicebar">
                <table class="checkboxes">
                    <tr>
                        <td class="center douzepc">
                            <i class="fas fa-compact-disc"></i><i class="fas fa-compact-disc"></i><br><i class="fas fa-compact-disc"></i>
                        </td>
                        <td>
                            {{ localize "DEVASTRA.Shakti de défense" }}
                        </td>
                        <td class="right tierspc">
                            {{ localize "DEVASTRA.Jetons Shakti" }}&nbsp;
                            <select name="defenseshakti">
                                {{#select defenseshakti}}
                                    <option value="0">–</option>
                                    <option value="1">1&nbsp;{{ localize "DEVASTRA.Jeton" }}</option>
                                    <option value="2">2&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="3">3&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="4">4&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="5">5&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="6">6&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="7">7&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="8">8&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="9">9&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="10">10&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="11">11&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="12">12&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="13">13&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="14">14&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="15">15&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>

                                {{/select}}
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</form>