<form class="flexcol {{cssClass}}" autocomplete="off">
	
    {{!-- Sheet Body --}}
    <section class="form-body">

        {{!-- Frame --}}
        <div class="frame">
            <div class="actor" style="position: absolute; top: -9999px; left: -9999px;">{{ actorID }}</div>
            <div class="domaine" style="position: absolute; top: -9999px; left: -9999px;">{{ domaine }}</div>
            <div class="domain">
                {{#if initthrow}}
                <table class="domain-table">
                    <tr>
                        <td class="domain-icon">
                            <img src="{{systemData.domains.din.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.din.label }}" alt="Icon" />
                        </td>
                        <td class="label"><b>&nbsp;{{ localize systemData.domains.din.label }}</b></td>
                        <td class="specialities">
                            {{systemData.domains.din.specialities}}
                        </td>
                    </tr>
                </table>
                {{else}}
                <table class="domain-table">
                    {{#if (eq domaine "dph")}}
                    <tr>
                        <td class="domain-icon">
                            <img src="{{systemData.domains.dph.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.dph.label }}" alt="Icon" />
                        </td>
                        <td class="label"><b>&nbsp;{{ localize systemData.domains.dph.label }}</b></td>
                        <td class="specialities">
                            {{systemData.domains.dph.specialities}}
                        </td>
                    </tr>
                    {{else}}
                    {{/if}}
                    {{#if (eq domaine "dma")}}
                    <tr>
                        <td class="domain-icon">
                            <img src="{{systemData.domains.dma.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.dma.label }}" alt="Icon" />
                        </td>
                        <td class="label"><b>&nbsp;{{ localize systemData.domains.dma.label }}</b></td>
                        <td class="specialities">
                            {{systemData.domains.dma.specialities}}
                        </td>
                    </tr>
                    {{else}}
                    {{/if}}
                    {{#if (eq domaine "din")}}
                    <tr>
                        <td class="domain-icon">
                            <img src="{{systemData.domains.din.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.din.label }}" alt="Icon" />
                        </td>
                        <td class="label"><b>&nbsp;{{ localize systemData.domains.din.label }}</b></td>
                        <td class="specialities">
                            {{systemData.domains.din.specialities}}
                        </td>
                    </tr>
                    {{else}}
                    {{/if}}
                    {{#if (eq domaine "dso")}}
                    <tr>
                        <td class="domain-icon">
                            <img src="{{systemData.domains.dso.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.dso.label }}" alt="Icon" />
                        </td>
                        <td class="label"><b>&nbsp;{{ localize systemData.domains.dso.label }}</b></td>
                        <td class="specialities">
                            {{systemData.domains.dso.specialities}}
                        </td>
                    </tr>
                    {{else}}
                    {{/if}}
                    {{#if (eq domaine "dmy")}}
                    <tr>
                        <td class="domain-icon">
                            <img src="{{systemData.domains.dmy.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.dmy.label }}" alt="Icon" />
                        </td>
                        <td class="label"><b>&nbsp;{{ localize systemData.domains.dmy.label }}</b></td>
                        <td class="specialities">
                            {{systemData.domains.dmy.specialities}}
                        </td>
                    </tr>
                    {{else}}
                    {{/if}}
                </table>
                {{/if}}
            </div>
            <br>
            <div class="dicebar">
                {{#if initthrow}}
                <table>
                    <td class="center douzepc">
                        <i class="fas fa-dice-d6"></i><i class="fas fa-dice-d6"></i><br><i class="fas fa-dice-d6"></i><i class="fas fa-dice-d6"></i><i class="fas fa-dice-d6"></i>
                    </td>
                    <td style="text-align: center;">
                        {{ localize "DEVASTRA.vsND" }}
                    </td>
                    <td>
                    </td>
                    <td class="valeur2">
                        3
                    </td>
                </table>
                {{else}}
                <table class="checkboxes">
                    <tr>
                        <td class="center douzepc">
                            <i class="fas fa-dice-d6"></i><i class="fas fa-dice-d6"></i><br><i class="fas fa-dice-d6"></i><i class="fas fa-dice-d6"></i><i class="fas fa-dice-d6"></i>
                        </td>
                        <td>
                            <input type="radio" name="jet" value="autre" checked />{{ localize "DEVASTRA.JetStandard" }}
                        </td>
                        <td>
                            <input type="radio" name="jet" value="jetattaque" />{{ localize "DEVASTRA.JetOffensif" }}
                        </td>
                        <td>
                            <input type="radio" name="jet" value="jetdefense" />{{ localize "DEVASTRA.JetDefensif" }}
                        </td>
                        <td class="right tierspc">
                            {{ localize "DEVASTRA.vsND" }}&nbsp;
                            <select name="nd">
                                {{#select nd}}
                                    <option value="2">2&nbsp;{{ localize "DEVASTRA.(Enfantin)" }}</option>
                                    <option value="3">3&nbsp;{{ localize "DEVASTRA.(Facile)" }}</option>
                                    <option value="4">4&nbsp;{{ localize "DEVASTRA.(Moyen)" }}</option>
                                    <option value="5">5&nbsp;{{ localize "DEVASTRA.(Difficile)" }}</option>
                                    <option value="6">6&nbsp;{{ localize "DEVASTRA.(Très difficile)" }}</option>
                                    <option value="7">7&nbsp;{{ localize "DEVASTRA.(Impossible)" }}</option>
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                </table>
                {{/if}}
            </div>
            <br>
            <div class="flex">
            <div class="cadre">
                <table>
                    <tr>
                        <td>
                        </td>
                        <td>
                            {{ localize "DEVASTRA.NbreDeDesDuDomaine" }}
                        </td>
                        <td class="valeur2">
                            {{nbrdedomaine}}{{ localize "DEVASTRA.D" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="check right"><input type="checkbox" name="bonusdomainecheck" {{checked bonusdomainecheck}} /></td>
                        <td>
                            {{ localize "DEVASTRA.BonusDeDesDuDomaine" }}
                        </td>
                        <td class="valeur2">
                            {{nbrdebonusdomaine}}{{ localize "DEVASTRA.D" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="check right"><input type="checkbox" name="specialitecheck" {{checked specialitecheck}} /></td>
                        {{#if initthrow}}
                        <td>
                            {{ localize "DEVASTRA.InitSpecial" }}
                        </td>
                        {{else}}
                        <td>
                            {{ localize "DEVASTRA.BonusDeDesDeLaSpecialite" }}
                        </td>
                        {{/if}}
                        <td class="valeur2">
                            </span>{{nbrdebonusspecialite}}{{ localize "DEVASTRA.D" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="right">
                            ⌞   
                        </td>
                        <td>
                            {{ localize "DEVASTRA.Variante1D8" }}
                        </td>
                        <td class="check right"><input type="checkbox" name="d8check" {{checked d8check}} /></td>
                    </tr>
                    <tr>
                        <td class="check right"><input type="checkbox" name="malusblessurecheck" {{checked malusblessurecheck}} /></td>
                        <td>
                            {{ localize "DEVASTRA.MalusDeBlessure" }}
                        </td>
                        <td class="valeur2">
                            {{nbrdemalusblessure}}{{ localize "DEVASTRA.D" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="check right"><input type="checkbox" name="malusstatutcheck" {{checked malusstatutcheck}} /></td>
                        <td>
                            {{ localize "DEVASTRA.MalusDeStatut" }}
                        </td>
                        <td class="valeur2 malusstatute">{{nbrdemalusstatut}}{{ localize "DEVASTRA.D" }}</td>
                    </tr>
                    <tr>
                        <td class="right">
                            ⌞   
                        </td>
                        <td>
                            {{ localize "DEVASTRA.StatutAAppliquer" }}
                        </td>
                        <td class="choosestatute right">
                            <select name="statute" data-type="String">
                                {{selectOptions statutechoices selected=selectedstatute labelAttr="label" localize=true}}
                            </select>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            {{ localize "DEVASTRA.BonusAAppliquer" }}
                        </td>
                        <td>
                                   
                        </td>
                        <td class="right">
                            <select name="bonusapplique">
                                {{#select bonusapplique}}
                                    <option value="0">+0{{ localize "DEVASTRA.D" }}</option>
                                    <option value="1">+1{{ localize "DEVASTRA.D" }}</option>
                                    <option value="2">+2{{ localize "DEVASTRA.D" }}</option>
                                    <option value="3">+3{{ localize "DEVASTRA.D" }}</option>
                                    <option value="4">+4{{ localize "DEVASTRA.D" }}</option>
                                    <option value="5">+5{{ localize "DEVASTRA.D" }}</option>
                                    <option value="6">+6{{ localize "DEVASTRA.D" }}</option>
                                    <option value="7">+7{{ localize "DEVASTRA.D" }}</option>
                                    <option value="8">+8{{ localize "DEVASTRA.D" }}</option>
                                    <option value="9">+9{{ localize "DEVASTRA.D" }}</option>
                                    <option value="10">+10{{ localize "DEVASTRA.D" }}</option>
                                    <option value="11">+11{{ localize "DEVASTRA.D" }}</option>
                                    <option value="12">+12{{ localize "DEVASTRA.D" }}</option>
                                    <option value="13">+13{{ localize "DEVASTRA.D" }}</option>
                                    <option value="14">+14{{ localize "DEVASTRA.D" }}</option>
                                    <option value="15">+15{{ localize "DEVASTRA.D" }}</option>
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                    {{#if initthrow}}
                    {{else}}
                    <tr>
                        <td>
                            {{ localize "DEVASTRA.+2DeDAttaque" }}
                        </td>
                        <td>
                            
                        </td>
                        <td class="right">
                            {{#if shaktirestanteflag}}
                            <select name="plusdeuxdesdattaque">
                                {{#select plusdeuxdesdattaque}}
                                    <option value="0">–</option>
                                    <option value="1">1&nbsp;{{ localize "DEVASTRA.Jeton" }}</option>
                                    <option value="2">2&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="3">3&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="4">4&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="5">5&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="6">6&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="7">7&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="8">8&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="9">9&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="10">10&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="11">11&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="12">12&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="13">13&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="14">14&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="15">15&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                {{/select}}
                            </select>
                            {{else}}
                            <select name="plusdeuxdesdattaque" disabled>
                                {{#select plusdeuxdesdattaque}}
                                <option value="0">{{ localize "DEVASTRA.N-A" }}</option>
                                {{/select}}
                            </select>
                            {{/if}}
                        </td>
                    </tr>
                    {{/if}}
                    <tr>
                        <td>
                            {{ localize "DEVASTRA.MalusAAppliquer" }}
                        </td>
                        <td>
                            
                        </td>
                        <td class="right">
                            <select name="malususapplique">
                                {{#select malususapplique}}
                                    <option value="0">-0{{ localize "DEVASTRA.D" }}</option>
                                    <option value="1">-1{{ localize "DEVASTRA.D" }}</option>
                                    <option value="2">-2{{ localize "DEVASTRA.D" }}</option>
                                    <option value="3">-3{{ localize "DEVASTRA.D" }}</option>
                                    <option value="4">-4{{ localize "DEVASTRA.D" }}</option>
                                    <option value="5">-5{{ localize "DEVASTRA.D" }}</option>
                                    <option value="6">-6{{ localize "DEVASTRA.D" }}</option>
                                    <option value="7">-7{{ localize "DEVASTRA.D" }}</option>
                                    <option value="8">-8{{ localize "DEVASTRA.D" }}</option>
                                    <option value="9">-9{{ localize "DEVASTRA.D" }}</option>
                                    <option value="10">-10{{ localize "DEVASTRA.D" }}</option>
                                    <option value="11">-11{{ localize "DEVASTRA.D" }}</option>
                                    <option value="12">-12{{ localize "DEVASTRA.D" }}</option>
                                    <option value="13">-13{{ localize "DEVASTRA.D" }}</option>
                                    <option value="14">-14{{ localize "DEVASTRA.D" }}</option>
                                    <option value="15">-15{{ localize "DEVASTRA.D" }}</option>
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ localize "DEVASTRA.IgnorerUnMalus(PileMaj)" }}
                        </td>
                        <td>
                            
                        </td>
                        <td class="right">
                            {{#if convictionrestanteflag}}
                            <select name="ignoremalus">
                                {{#select ingnoremalus}}
                                    <option value="0">–</option>
                                    <option value="1">1&nbsp;{{ localize "DEVASTRA.Jeton" }}</option>
                                    <option value="2">2&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="3">3&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="4">4&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="5">5&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="6">6&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="7">7&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="8">8&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="9">9&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="10">10&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="11">11&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="12">12&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="13">13&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="14">14&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="15">15&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                {{/select}}
                            </select>
                            {{else}}
                            <select name="ignoremalus" disabled>
                                {{#select ignoremalus}}
                                <option value="0">{{ localize "DEVASTRA.N-A" }}</option>
                                {{/select}}
                            </select>
                            {{/if}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="margeg15">
                                {{ localize "DEVASTRA.DeMalusSupplAIgnorer" }}
                            </span>
                        </td>
                        <td>

                        </td>
                        <td class="right">
                            {{#if convictionrestanteflag}}
                                <select name="malusaignorer">
                                    {{#select malusaignorer}}
                                        <option value="0">0{{ localize "DEVASTRA.D" }}</option>
                                        <option value="1">1{{ localize "DEVASTRA.D" }}</option>
                                        <option value="2">2{{ localize "DEVASTRA.D" }}</option>
                                        <option value="3">3{{ localize "DEVASTRA.D" }}</option>
                                        <option value="4">4{{ localize "DEVASTRA.D" }}</option>
                                        <option value="5">5{{ localize "DEVASTRA.D" }}</option>
                                        <option value="6">6{{ localize "DEVASTRA.D" }}</option>
                                        <option value="7">7{{ localize "DEVASTRA.D" }}</option>
                                        <option value="8">8{{ localize "DEVASTRA.D" }}</option>
                                        <option value="9">9{{ localize "DEVASTRA.D" }}</option>
                                        <option value="10">10{{ localize "DEVASTRA.D" }}</option>
                                        <option value="11">11{{ localize "DEVASTRA.D" }}</option>
                                        <option value="12">12{{ localize "DEVASTRA.D" }}</option>
                                        <option value="13">13{{ localize "DEVASTRA.D" }}</option>
                                        <option value="14">14{{ localize "DEVASTRA.D" }}</option>
                                        <option value="15">15{{ localize "DEVASTRA.D" }}</option>
                                    {{/select}}
                                </select>
                            {{else}}
                                <select name="malusaignorer" disabled>
                                    {{#select malusaignorer}}
                                        <option value="0">{{ localize "DEVASTRA.N-A" }}</option>
                                    {{/select}}
                                </select>
                            {{/if}}

                        </td>
                    </tr>
                </table>
            </div>
            <div class="cadre left">
                <table>
                    <tr>
                        <td>
                            {{ localize "DEVASTRA.SuccesAutomatiques" }}
                        </td>
                        <td>
                            
                        </td>
                        <td class="right">
                            <select name="succesauto">
                                {{#select succesauto}}
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ localize "DEVASTRA.+1SuccesAutomatique" }}
                        </td>
                        <td>
                            
                        </td>
                        <td class="right">
                            {{#if (and convictionrestanteflag plus1succesautoflag)}}
                            <select name="plusunsuccesauto">
                                {{#select plusunsuccesauto}}
                                    <option value="0">–</option>
                                    <option value="1">1&nbsp;{{ localize "DEVASTRA.Jeton" }}</option>
                                    <option value="2">2&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="3">3&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="4">4&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="5">5&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="6">6&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="7">7&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="8">8&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="9">9&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="10">10&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="11">11&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="12">12&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="13">13&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="14">14&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                    <option value="15">15&nbsp;{{ localize "DEVASTRA.Jetons" }}</option>
                                {{/select}}
                            </select>
                            {{else}}
                            <select name="plusunsuccesauto" disabled>
                                {{#select plusunsuccesauto}}
                                <option value="0">{{ localize "DEVASTRA.N-A" }}</option>
                                {{/select}}
                            </select>
                            {{/if}}
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            {{ localize "DEVASTRA.6Explosifs" }}
                        </td>
                        <td>
                        </td>
                        <td class="check right"><input type="checkbox" name="sixexplo" {{checked sixexplo}} disabled /></td>
                    </tr>
                    <tr>
                        <td>
                            <span class="margeg15">
                                {{ localize "DEVASTRA.5Explosifs" }}
                            </span>
                        </td>
                        <td>
                        </td>
                        {{#if sixexplo}}
                        <td class="check right"><input type="checkbox" name="cinqexplo" {{checked cinqexplo}} /></td>
                        {{else}}
                        <td class="check right"><input type="checkbox" name="cinqexplo" {{checked cinqexplo}} disabled /></td>
                        {{/if}}
                    </tr>
                    <td>
                        <div>
                            {{ localize "DEVASTRA.DesnonExplosifs" }}
                        </div>
                        </td>
                        <td> 
                        </td>
                        <td class="right">
                            <select name="desnonexplo">
                                {{#select desnonexplo}}
                                    <option value="0">–</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                </table>
                <td class="check right"><input type="checkbox" name="versiondebloquee" {{checked versiondebloquee}} />{{ localize "DEVASTRA.VersionDebridee" }}</td>
            </div>
            </div>
        </div>
    </section>
</form>