<form class="flexcol {{cssClass}}" autocomplete="off">
	
    {{!-- Sheet Body --}}
    <section class="form-body">

        {{!-- Frame --}}
        <div class="frame">
            <div class="domain">
                <table class="domain-table">
                    <tr class="dph" style="display: none;">
                        <td class="domain-icon">
                            <img  style="height: 30px;" src="{{systemData.domains.dph.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.dph.label }}" alt="Icon" />
                        </td>
                        <td class="specialities">
                            {{systemData.domains.dph.specialities}}
                        </td>
                    </tr>
                    <tr class="dma">
                        <td class="domain-icon">
                            <img  style="height: 30px;" src="{{systemData.domains.dma.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.dma.label }}" alt="Icon" />
                        </td>
                        <td class="specialities">
                            {{systemData.domains.dma.specialities}}
                        </td>
                    </tr>
                    <tr class="din" style="display: none;">
                        <td class="domain-icon">
                            <img  style="height: 30px;" src="{{systemData.domains.din.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.din.label }}" alt="Icon" />
                        </td>
                        <td class="specialities">
                            {{systemData.domains.din.specialities}}
                        </td>
                    </tr>
                    <tr class="dso" style="display: none;">
                        <td class="domain-icon">
                            <img  style="height: 30px;" src="{{systemData.domains.dso.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.dso.label }}" alt="Icon" />
                        </td>
                        <td class="specialities">
                            {{systemData.domains.dso.specialities}}
                        </td>
                    </tr>
                    <tr class="dmy" style="display: none;">
                        <td class="domain-icon">
                            <img  style="height: 30px;" src="{{systemData.domains.dmy.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.dmy.label }}" alt="Icon" />
                        </td>
                        <td class="specialities">
                            {{systemData.domains.dmy.specialities}}
                        </td>
                    </tr>
                </table>
                <table class="domain-table">
                    <tr>
                        <td>
                            {{ localize "DEVASTRA.Domaine :" }}&nbsp;
                            <select name="domains">
                                {{#select domains}}
                                    <option value="dph">{{ localize systemData.domains.dph.label }}</option>
                                    <option value="dma">{{ localize systemData.domains.dma.label }}</option>
                                    <option value="din">{{ localize systemData.domains.din.label }}</option>
                                    <option value="dso">{{ localize systemData.domains.dso.label }}</option>
                                    <option value="dmy">{{ localize systemData.domains.dmy.label }}</option>
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="dicebar">
                <table class="checkboxes">
                    <tr>
                        <td>
                            <input type="radio" name="jet" value="ouijet" checked />
                        </td>
                        <td class="center douzepc">
                            <i class="fas fa-dice-d6"></i><i class="fas fa-dice-d6"></i><br><i class="fas fa-dice-d6"></i><i class="fas fa-dice-d6"></i><i class="fas fa-dice-d6"></i>
                        </td>
                        <td>
                            {{ localize "DEVASTRA.Jet de défense" }}
                        </td>
                        <td class="right tierspc">
                            {{ localize "DEVASTRA.vs ND" }}&nbsp;
                            <select name="defencend">
                                {{#select defencend}}
                                    <option value="2">2&nbsp;{{ localize "DEVASTRA.(Enfantin)" }}</option>
                                    <option value="3">3&nbsp;{{ localize "DEVASTRA.(Facile)" }}</option>
                                    <option value="4">4&nbsp;{{ localize "DEVASTRA.(Moyen)" }}</option>
                                    <option value="5">5&nbsp;{{ localize "DEVASTRA.(Difficile)" }}</option>
                                    <option value="6">6&nbsp;{{ localize "DEVASTRA.(Très difficile)" }}</option>
                                    <option value="7">7&nbsp;{{ localize "DEVASTRA.(Impossible)" }}</option>
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" name="jet" value="ouishaktidefense" />
                        </td>
                        <td class="center douzepc">
                            <i class="fas fa-compact-disc"></i><i class="fas fa-compact-disc"></i><br><i class="fas fa-compact-disc"></i>
                        </td>
                        <td>
                            {{ localize "DEVASTRA.Shakti de défense" }}
                        </td>
                        <td class="right tierspc">
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="flex">
            <div class="cadre">
                <table>
                    <tr>
                        <td>
                            {{ localize "DEVASTRA.Nbre de dés du domaine" }}
                        </td>
                        <td>
                        </td>
                        <td class="valeur2">
                            <div class="nbrdomainedph" style="display: none;">
                                {{nbrdedomainedph}}{{ localize "DEVASTRA.D" }}
                            </div>
                            <div class="nbrdomainedma">
                                {{nbrdedomainedma}}{{ localize "DEVASTRA.D" }}
                            </div>
                            <div class="nbrdomainedin" style="display: none;">
                                {{nbrdedomainedin}}{{ localize "DEVASTRA.D" }}
                            </div>
                            <div class="nbrdomainedso" style="display: none;">
                                {{nbrdedomainedso}}{{ localize "DEVASTRA.D" }}
                            </div>
                            <div class="nbrdomainedmy" style="display: none;">
                                {{nbrdedomainedmy}}{{ localize "DEVASTRA.D" }}
                            </div>
                        </tr>
                    </tr>
                    <tr>
                        <td>
                            {{ localize "DEVASTRA.Bonus de dés de la spécialité" }}
                        </td>
                        <td class="check right"><input type="checkbox" name="specialitecheck" {{checked specialitecheck}} /></td>
                        <td class="valeur2">
                            {{nbrdebonusspecialite}}{{ localize "DEVASTRA.D" }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ localize "DEVASTRA.Malus de blessure" }}
                        </td>
                        <td class="check right"><input type="checkbox" name="malusblessurecheck" {{checked malusblessurecheck}} /></td>
                        <td class="valeur2">
                            {{nbrdemalusblessure}}{{ localize "DEVASTRA.D" }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ localize "DEVASTRA.Malus de statut" }}
                        </td>
                        <td class="check right"><input type="checkbox" name="malusstatutcheck" {{checked malusstatutcheck}} /></td>
                        <td class="valeur2">
                            <div class="malusstatutdph" style="display: none;">
                                {{nbrdemalusstatutdph}}{{ localize "DEVASTRA.D" }}
                            </div>
                            <div class="malusstatutdma" >
                                {{nbrdemalusstatutdma}}{{ localize "DEVASTRA.D" }}
                            </div>
                            <div class="malusstatutdin" style="display: none;">
                                {{nbrdemalusstatutdin}}{{ localize "DEVASTRA.D" }}
                            </div>
                            <div class="malusstatutdso" style="display: none;">
                                {{nbrdemalusstatutdso}}{{ localize "DEVASTRA.D" }}
                            </div>
                            <div class="malusstatutdmy" style="display: none;">
                                {{nbrdemalusstatutdmy}}{{ localize "DEVASTRA.D" }}
                            </div>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            {{ localize "DEVASTRA.Bonus à appliquer" }}
                        </td>
                        <td>
                                   
                        </td>
                        <td class="right">
                            <select name="bonusapplique">
                                {{#select bonusapplique }}
                                    <option value="0">+0{{ localize "DEVASTRA.D" }}</option>
                                    <option value="1">+1{{ localize "DEVASTRA.D" }}</option>
                                    <option value="2">+2{{ localize "DEVASTRA.D" }}</option>
                                    <option value="3">+3{{ localize "DEVASTRA.D" }}</option>
                                    <option value="4">+4{{ localize "DEVASTRA.D" }}</option>
                                    <option value="5">+5{{ localize "DEVASTRA.D" }}</option>
                                    <option value="6">+6{{ localize "DEVASTRA.D" }}</option>
                                    <option value="7">+7{{ localize "DEVASTRA.D" }}</option>
                                    <option value="8">+8{{ localize "DEVASTRA.D" }}</option>
                                    <option value="9">+9{{ localize "DEVASTRA.D" }}</option>
                                    <option value="10">+10{{ localize "DEVASTRA.D" }}</option>
                                    <option value="11">+11{{ localize "DEVASTRA.D" }}</option>
                                    <option value="12">+12{{ localize "DEVASTRA.D" }}</option>
                                    <option value="13">+13{{ localize "DEVASTRA.D" }}</option>
                                    <option value="14">+14{{ localize "DEVASTRA.D" }}</option>
                                    <option value="15">+15{{ localize "DEVASTRA.D" }}</option>
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ localize "DEVASTRA.DEBRIDE_Malus à appliquer" }}
                        </td>
                        <td>
                            
                        </td>
                        <td class="right">
                            <select name="malususapplique">
                                {{#select malususapplique }}
                                    <option value="0">-0{{ localize "DEVASTRA.D" }}</option>
                                    <option value="1">-1{{ localize "DEVASTRA.D" }}</option>
                                    <option value="2">-2{{ localize "DEVASTRA.D" }}</option>
                                    <option value="3">-3{{ localize "DEVASTRA.D" }}</option>
                                    <option value="4">-4{{ localize "DEVASTRA.D" }}</option>
                                    <option value="5">-5{{ localize "DEVASTRA.D" }}</option>
                                    <option value="6">-6{{ localize "DEVASTRA.D" }}</option>
                                    <option value="7">-7{{ localize "DEVASTRA.D" }}</option>
                                    <option value="8">-8{{ localize "DEVASTRA.D" }}</option>
                                    <option value="9">-9{{ localize "DEVASTRA.D" }}</option>
                                    <option value="10">-10{{ localize "DEVASTRA.D" }}</option>
                                    <option value="11">-11{{ localize "DEVASTRA.D" }}</option>
                                    <option value="12">-12{{ localize "DEVASTRA.D" }}</option>
                                    <option value="13">-13{{ localize "DEVASTRA.D" }}</option>
                                    <option value="14">-14{{ localize "DEVASTRA.D" }}</option>
                                    <option value="15">-15{{ localize "DEVASTRA.D" }}</option>
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="cadre left">
                <table>
                    <tr>
                        <td>
                            {{ localize "DEVASTRA.DEBRIDE_Succès automatiques" }}
                        </td>
                        <td>
                            
                        </td>
                        <td class="right">
                            <select name="succesauto">
                                {{#select succesauto }}
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            {{ localize "DEVASTRA.6 Explosifs" }}
                        </td>
                        <td>
                        </td>
                        <td class="check right"><input type="checkbox" name="sixexplo" {{checked sixexplo}} /></td>
                    </tr>
                    <tr>
                        <td>
                            <span class="margeg15">
                                {{ localize "DEVASTRA.DEBRIDE_5 Explosifs" }}
                            </span>
                        </td>
                        <td>
                        </td>
                        <td class="check right"><input type="checkbox" name="cinqexplo" {{checked cinqexplo}} /></td>
                    </tr>
                    <tr>
                        <td>
                            {{ localize "DEVASTRA.DEBRIDE_Dés non-explosifs" }}
                        </td>
                        <td> 
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
                <div class="center">
                    <i class="fas fa-triangle-exclamation"></i>&nbsp;{{ localize "DEVASTRA.Attention Version débridée" }}&nbsp;<i class="fas fa-triangle-exclamation"></i>
                </div>
            </div>
            </div>
        </div>
    </section>
</form>