<form class="flexcol {{cssClass}}" autocomplete="off">
    
    {{!-- Sheet Body --}}
    <section class="form-body">

        {{!-- Frame --}}
        <div class="frame">
            <div class="domain">
                <table class="domain-table">
                    {{#if (eq domaine "dph")}}
                    <tr>
                        <td class="domain-icon">
                            <img src="{{systemData.domains.dph.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.dph.label }}" alt="Icon" />
                        </td>
                        <td class="label"><b>&nbsp;{{ localize systemData.domains.dph.label }}</b></td>
                        <td class="specialities">
                            {{systemData.domains.dph.specialities}}
                        </td>
                    </tr>
                    {{else}}
                    {{/if}}
                    {{#if (eq domaine "dma")}}
                    <tr>
                        <td class="domain-icon">
                            <img src="{{systemData.domains.dma.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.dma.label }}" alt="Icon" />
                        </td>
                        <td class="label"><b>&nbsp;{{ localize systemData.domains.dma.label }}</b></td>
                        <td class="specialities">
                            {{systemData.domains.dma.specialities}}
                        </td>
                    </tr>
                    {{else}}
                    {{/if}}
                    {{#if (eq domaine "din")}}
                    <tr>
                        <td class="domain-icon">
                            <img src="{{systemData.domains.din.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.din.label }}" alt="Icon" />
                        </td>
                        <td class="label"><b>&nbsp;{{ localize systemData.domains.din.label }}</b></td>
                        <td class="specialities">
                            {{systemData.domains.din.specialities}}
                        </td>
                    </tr>
                    {{else}}
                    {{/if}}
                    {{#if (eq domaine "dso")}}
                    <tr>
                        <td class="domain-icon">
                            <img src="{{systemData.domains.dso.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.dso.label }}" alt="Icon" />
                        </td>
                        <td class="label"><b>&nbsp;{{ localize systemData.domains.dso.label }}</b></td>
                        <td class="specialities">
                            {{systemData.domains.dso.specialities}}
                        </td>
                    </tr>
                    {{else}}
                    {{/if}}
                    {{#if (eq domaine "dmy")}}
                    <tr>
                        <td class="domain-icon">
                            <img src="{{systemData.domains.dmy.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.dmy.label }}" alt="Icon" />
                        </td>
                        <td class="label"><b>&nbsp;{{ localize systemData.domains.dmy.label }}</b></td>
                        <td class="specialities">
                            {{systemData.domains.dmy.specialities}}
                        </td>
                    </tr>
                    {{else}}
                    {{/if}}
                </table>
            </div>
            <br>   
            <div class="cadre">
                <div>
                    <table class="form-group">
                        <tr class="form-fields">
                            <td class="center">
                                <span class="value"><b>{{ localize "DEVASTRA.you" }}</b>&nbsp;{{you}}&nbsp;</span>
                            </td>
                        </tr>
                    </table>
                </div>

                <div>
                    <table class="form-group">
                        <tr class="form-fields">
                            <td class="center">
                                <span class="value"><b>{{ localize "DEVASTRA.chooseopponent" }}</b>&nbsp;</span>
                                <select name="target" data-type="String">
                                    {{selectOptions targetchoices selected=selectedtarget labelAttr="label" localize=true}}
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>

                <div style="width: 100%;">
                    <table style="width: 100%; height: 170px;">
                        <tr style="text-align: center; background-color: transparent;">
                            <td style="text-align: center; border-radius: 8px;">
                                <img
                                class="imageyou"
                                style="height: 170px;"
                                src={{youimg}}
                                title="{{ localize 'DEVASTRA.vous' }}"
                                alt="your token"
                                >
                            </td>

                            <td class="versus" style="width: 10%; text-align: center; display: none;">&nbsp;<b>Vs.</b>&nbsp;</td>

                            <td class="no-token" style="text-align: center; display: none; width: 45%;">
                                <img
                                class="imageopponent"
                                style="height: 170px"
                                src={{tokenimg}}
                                title="{{ localize 'DEVASTRA.votreopposant' }}"
                                alt="no token"
                                >
                            </td>
                        </tr>
                    </table>
                </div> 
            </div>   
            <br>

            <div class="cadre">
                <span class="check"><input type="checkbox" name="opponentprotection" checked><label>{{localize "DEVASTRA.OpponentProtection"}}</label></span>
            </div>

    	</div>	
    </section>
</form>