<form class="flexcol {{cssClass}}" autocomplete="off">
	
    {{!-- Sheet Body --}}
    <section class="form-body">

        {{!-- Frame --}}
        <div class="frame">
            <div class="cadre">
                <table style="border: 0px; background-color: transparent;">
                    <tr style="background-color: transparent;">
                        <td>
                            <b>{{ localize "DEVASTRA.choosewhicharmor" }}</b>
                        <td>
                    </tr>
                </table>
            </div>
            <br>   

            <div class="cadre">
                <table class="form-group" style="border: 0px; background-color: transparent;">
                    <tr class="form-fields" style="background-color: transparent;">
                        <td class ="choosearmor">
                            <span class="value">{{ localize "DEVASTRA.choosearmor" }}</span>
                        </td>
                        <td class ="choosearmor">
                            <select class="armorchoices" data-type="String">
                                {{selectOptions armorchoices selected=selectedarmor labelAttr="label" localize=true}}
                            </select>
                        </td>
                    </tr>
                    <tr class="form-fields" style="background-color: transparent;">
                        <td class ="chooseshield">
                            <span class="value">{{ localize "DEVASTRA.chooseshield" }}</span>
                        </td>
                        <td class ="chooseshield">
                            <select class="armorshieldchoices" data-type="String">
                                {{selectOptions armorshieldchoices selected=selectedarmorshield labelAttr="label" localize=true}}
                            </select>
                        </td>
                    </tr>
                    <tr class="form-fields" style="background-color: transparent;">
                        <td class="choosearmordevastra">
                            <span class="value">{{ localize "DEVASTRA.choosearmordevastra" }}</span>
                        </td>
                        <td class="choosearmordevastra">
                            <select class="armordevastrachoices" data-type="String">
                                {{selectOptions armordevastrachoices selected=selectedarmordevastra labelAttr="label" localize=true}}
                            </select>
                        </td>
                    </tr>
                    <tr class="form-fields"  style="background-color: transparent;">
                        <td class="choosearmorchoose">
                            <span class="value">{{ localize "DEVASTRA.choosearmorchoose" }}</span>
                        </td>
                        <td class="choosearmorchoose">
                            <div>
                                <select class="armorchoose">
                                    {{#select armorchoose}}
                                        <option value="0">0</option>
                                        <option value="1">+1</option>
                                        <option value="2">+2</option>
                                        <option value="3">+3</option>
                                        <option value="4">+4</option>
                                        <option value="5">+5</option>
                                        <option value="6">+6</option>
                                        <option value="7">+7</option>
                                        <option value="8">+8</option>
                                        <option value="9">+9</option>
                                        <option value="10">+10</option>
                                        <option value="11">+11</option>
                                        <option value="12">+12</option>
                                        <option value="13">+13</option>
                                        <option value="14">+14</option>
                                        <option value="15">+15</option>
                                    {{/select}}
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
    	</div>	
    </section>
</form>