<form class="flexcol {{cssClass}}" autocomplete="off">
	
    {{!-- Sheet Body --}}
    <section class="form-body">

        {{!-- Frame --}}
        <div class="frame">
            <div class="cadre">
                <table style="border: 0px; background-color: transparent;">
                    <tr style="background-color: transparent;">
                        <td>
                            <b>{{ localize "DEVASTRA.Alerte" }}</b>
                        <td>
                    </tr>
                </table>
            </div>
            <br>   

            <div class="cadre">
                {{{ messg }}}
            </div>
    	</div>	
    </section>
</form>