<ol class="item-list">
  <h1 class="tab-sous-titre">{{ localize "DEVASTRA.Karma" }}</h1>
  {{#each karmas as |item id|}}
  <li class="item flexrow" data-item-id="{{item._id}}">
    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
    <span class="item-name">{{item.name}}</span>
    <div class="item-controls">
      <a class="item-control" title="{{ localize 'DEVASTRA.KarmaEdit' }}" data-action="edit"><i class="fas fa-edit"></i></a>
      <a class="item-control" title="{{ localize 'DEVASTRA.KarmaDelete' }}" data-action="delete"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  <div>
    {{{ item.system.technique }}}
  </div>
  
  {{/each}}
</ol>
<span>
  <a class="item-control" title="{{ localize 'DEVASTRA.KarmaCreate' }}" data-action="create" data-type="karma"><i class="fas fa-plus"></i> {{ localize "DEVASTRA.KarmaCreate" }}</a>
</span>
