<ol class="item-list">
  <h1 class="tab-sous-titre">{{ localize "DEVASTRA.Dharma" }}</h1>
  {{#each dharmas as |item id|}}
  <li class="item flexrow" data-item-id="{{item._id}}">
    <img src="{{item.img}}" data-tooltip="{{item.name}}" width="24" height="24" />
    <span class="item-name">{{item.name}}</span>
    <div class="item-controls">
      <a class="item-control" data-tooltip="{{ localize 'DEVASTRA.DharmaEdit' }}" data-action="edit"><i class="fas fa-edit"></i></a>
      <a class="item-control" data-tooltip="{{ localize 'DEVASTRA.DharmaDelete' }}" data-action="delete"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  <div>
    {{{ item.system.technique }}}
  </div>

  {{/each}}
</ol>
<span>
  <a class="item-control" data-tooltip="{{ localize 'DEVASTRA.DharmaCreate' }}" data-action="create" data-type="dharma"><i class="fas fa-plus"></i> {{ localize "DEVASTRA.DharmaCreate" }}</a>
</span>

