<div>
  <h1 class="tab-sous-titre">{{ localize "DEVASTRA.Mandalas" }}&nbsp;
    <span class="click clickoneyemandala" data-tooltip="{{ localize 'DEVASTRA.VerifierCoherenceMandala' }}"><i class="fas fa-eye"></i></span>
    <span class="click clickonlock" data-tooltip="{{ localize 'DEVASTRA.Entrée manuelle' }}">
    {{#if locked}}
    <i class="fas fa-pen" data-tooltip="{{ localize 'DEVASTRA.DeverrouillerEntreeManuelle' }}"></i>
    {{else}}
    <i class="fas fa-pen-slash" data-tooltip="{{ localize 'DEVASTRA.VerrouillerEntreeManuelle' }}"></i>
    {{/if}}
  </span></h1>
</div>
<div class="tab mandala mandala_wrap">
  <div class="mandala_decale">
    <span class="valeur center mandala-decale"><p>7</p></span>
    <span class="valeur center mandala-decale"><p>6</p></span>
    <span class="valeur center mandala-decale"><p>5</p></span>
    <span class="valeur center mandala-decale"><p>4</p></span>
    <span class="valeur center mandala-decale"><p>3</p></span>
    <span class="valeur center mandala-decale"><p>2</p></span>
    <span class="valeur center mandala-decale"><p>1</p></span>
  </div>
  <div class="viseur_decale">
    {{#if viseur7}}
      <img class="viseur" src="systems/devastra/images/ui/viseur.png" alt="Viseur" />
    {{else}}
      <img class="viseur viseur-invisible" src="systems/devastra/images/ui/viseur.png" alt="Viseur" />
    {{/if}}
    {{#if viseur6}}
      <img class="viseur" src="systems/devastra/images/ui/viseur.png" alt="Viseur" />
    {{else}}
      <img class="viseur viseur-invisible" src="systems/devastra/images/ui/viseur.png" alt="Viseur" />
    {{/if}}
    {{#if viseur5}}
    <img class="viseur" src="systems/devastra/images/ui/viseur.png" alt="Viseur" />
    {{else}}
      <img class="viseur viseur-invisible" src="systems/devastra/images/ui/viseur.png" alt="Viseur" />
    {{/if}}
    {{#if viseur4}}
    <img class="viseur" src="systems/devastra/images/ui/viseur.png" alt="Viseur" />
    {{else}}
      <img class="viseur viseur-invisible" src="systems/devastra/images/ui/viseur.png" alt="Viseur" />
    {{/if}}
    {{#if viseur3}}
    <img class="viseur" src="systems/devastra/images/ui/viseur.png" alt="Viseur" />
    {{else}}
    <img class="viseur viseur-invisible" src="systems/devastra/images/ui/viseur.png" alt="Viseur" />
    {{/if}}
    {{#if viseur2}}
    <img class="viseur" src="systems/devastra/images/ui/viseur.png" alt="Viseur" />
    {{else}}
    <img class="viseur viseur-invisible" src="systems/devastra/images/ui/viseur.png" alt="Viseur" />
    {{/if}}
    {{#if viseur1}}
    <img class="viseur" src="systems/devastra/images/ui/viseur.png" alt="Viseur" />
    {{else}}
    <img class="viseur viseur-invisible" src="systems/devastra/images/ui/viseur.png" alt="Viseur" />
    {{/if}}
  </div>
  <div class="schema">
    <div class="upDiv">
      <div class="logoInitiative">
        <h3 class="tab-sous-titre">{{ localize "DEVASTRA.Initiative" }}</h3>
        <div class="initiativeDiv">
          <div class="initiativeCol logo">
            <img class="logoinitiative padding3px" src="systems/devastra/images/ui/icons/Initiative.png" alt="Initiative" />
          </div>
          <div class="initiativeCol valeur center" data-tooltip="{{ localize 'DEVASTRA.InitiativeScore' }}">
            <span>{{systemData.initiative.value}}</span>
          </div>
          <div class="initiativeCol">
            <div class="center" data-tooltip="{{ localize 'DEVASTRA.ActionsMaxDIn' }}">
              <p>{{systemData.initiative.actionsmax}}</p>
              <p class="textred">{{ localize "DEVASTRA.ActionsMax" }}</p>
            </div>
          </div>
          <div class="concentrationDiv">
            <div class="concentrationCol click clickondieconcentration concentrationDie" data-libel-id="concentration-die">
              <img class="d1click concentrationCol" src="systems/devastra/images/ui/d6_fond_transp.png" data-tooltip="{{ localize 'DEVASTRA.DeterminerJetConcentration' }}" alt="Die" />
            </div>
            <div class="concentrationCol center">
              <span data-tooltip="{{ localize 'DEVASTRA.ConcentrationActuelle' }}">{{systemData.initiative.concentration}}</span>
            </div>
          </div>
        </div>
        <div class="jetonDepotInit">
          <div class="depotInit grab" data-tooltip="{{ localize 'DEVASTRA.TokenBonusInitiativePile' }}">
            {{#if bonusinit}}
            <img class="jeton dropshadow" src="systems/devastra/images/ui/JetonShakti.webp" alt="Jeton Shakti" />
            {{else}}
            <img class="jeton" src="systems/devastra/images/ui/Cercle2.png" alt="Cercle" />
            {{/if}}
          </div>
          <div class="bonusinit">
            +{{systemData.initiative.nbrjetonbonus}}
          </div>
          <div class="depotPoubelle">
            <img class="jeton" src="systems/devastra/images/ui/Cercle2Poubelle.png" alt="Cercle" data-tooltip="{{ localize 'DEVASTRA.DepotTrash' }}" />
          </div>
          <div class="logoPoubelle">
            <span class="click clickontrash right" data-tooltip="{{ localize 'DEVASTRA.DepotAllTrash' }}"><i class="fas fa-trash"></i></span>
          </div>
        </div>
      </div>

      <div class="jetonDepot jetonDepot7 grab">
        {{#if mandala7}}
          {{#if (eq 2 mandala7type)}}
            <img class="jeton dropshadow" src="systems/devastra/images/ui/JetonShakti.webp" alt="Jeton Shakti" />
          {{else}}
            <img class="jeton dropshadow" src="systems/devastra/images/ui/JetonAction.webp" alt="Jeton Action" />
          {{/if}}
        {{else}}
          <img class="jeton" src="systems/devastra/images/ui/Cercle2.png" alt="Cercle" />
        {{/if}}
      </div>
      <div class="jetonDepot jetonDepot6 grab">
        {{#if mandala6}}
          {{#if (eq 2 mandala6type)}}
            <img class="jeton dropshadow" src="systems/devastra/images/ui/JetonShakti.webp" alt="Jeton Shakti" />
          {{else}}
            <img class="jeton dropshadow" src="systems/devastra/images/ui/JetonAction.webp" alt="Jeton Action" />
          {{/if}}
        {{else}}
          <img class="jeton" src="systems/devastra/images/ui/Cercle2.png" alt="Cercle" />
        {{/if}}
      </div>
      <div class="jetonDepot jetonDepot5 grab">
        {{#if mandala5}}
          {{#if (eq 2 mandala5type)}}
            <img class="jeton dropshadow" src="systems/devastra/images/ui/JetonShakti.webp" alt="Jeton Shakti" />
          {{else}}
            <img class="jeton dropshadow" src="systems/devastra/images/ui/JetonAction.webp" alt="Jeton Action" />
          {{/if}}
        {{else}}
          <img class="jeton" src="systems/devastra/images/ui/Cercle2.png" alt="Cercle" />
        {{/if}}
      </div>
      <div class="jetonDepot jetonDepot4 grab">
        {{#if mandala4}}
          {{#if (eq 2 mandala4type)}}
            <img class="jeton dropshadow" src="systems/devastra/images/ui/JetonShakti.webp" alt="Jeton Shakti" />
          {{else}}
            <img class="jeton dropshadow" src="systems/devastra/images/ui/JetonAction.webp" alt="Jeton Action" />
          {{/if}}
        {{else}}
          <img class="jeton" src="systems/devastra/images/ui/Cercle2.png" alt="Cercle" />
        {{/if}}
      </div>
      <div class="jetonDepot jetonDepot3 grab">
        {{#if mandala3}}
          {{#if (eq 2 mandala3type)}}
            <img class="jeton dropshadow" src="systems/devastra/images/ui/JetonShakti.webp" alt="Jeton Shakti" />
          {{else}}
            <img class="jeton dropshadow" src="systems/devastra/images/ui/JetonAction.webp" alt="Jeton Action" />
          {{/if}}
        {{else}}
          <img class="jeton" src="systems/devastra/images/ui/Cercle2.png" alt="Cercle" />
        {{/if}}
      </div>
      <div class="jetonDepot jetonDepot2 grab">
        {{#if mandala2}}
          {{#if (eq 2 mandala2type)}}
            <img class="jeton dropshadow" src="systems/devastra/images/ui/JetonShakti.webp" alt="Jeton Shakti" />
          {{else}}
            <img class="jeton dropshadow" src="systems/devastra/images/ui/JetonAction.webp" alt="Jeton Action" />
          {{/if}}
        {{else}}
          <img class="jeton" src="systems/devastra/images/ui/Cercle2.png" alt="Cercle" />
        {{/if}}
      </div>
      <div class="jetonDepot jetonDepot1 grab">
        {{#if mandala1}}
          {{#if (eq 2 mandala1type)}}
            <img class="jeton dropshadow" src="systems/devastra/images/ui/JetonShakti.webp" alt="Jeton Shakti" />
          {{else}}
            <img class="jeton dropshadow" src="systems/devastra/images/ui/JetonAction.webp" alt="Jeton Action" />
          {{/if}}
        {{else}}
          <img class="jeton" src="systems/devastra/images/ui/Cercle2.png" alt="Cercle" />
        {{/if}}
      </div>

      <div class="emptyCol">
      </div>

    </div>
    <br>
    <div class="downDiv">
      <div class="leftDiv">
    
        <div>
          <h3 class="tab-sous-titre">{{ localize "DEVASTRA.Prana" }}</h3>
          <div class="pranaDiv">
            <div class="pranaCol logopranableu">
              <img class="logoprana padding3px" src="systems/devastra/images/ui/icons/Prana05.png" alt="Prana bleue" />
            </div>
            <div class="pranaCol logopranavalue">
              <p class="valeur center" data-tooltip="{{ localize 'DEVASTRA.PranaScore' }}">{{systemData.prana.max}}</p>
              <input class="input" type="number" placeholder="0" min="0" step="1" name="system.prana.value" value="{{systemData.prana.value}}" data-tooltip="{{ localize 'DEVASTRA.Actuel' }}" />
            </div>
            <div class="pranaCol tableauprana">
              <table>
                <tr class="retreci">
                  <td class="logopranaetats">
                    <img class="logotranscendant padding3px" src="systems/devastra/images/ui/icons/Prana05.png" alt="Transcendant" />
                  </td>
                  <td>
                    {{ localize "DEVASTRA.Transcendant" }}
                  </td>
                  <td>
                    &gt;&nbsp;100%
                  </td>
                  <td class="logopranaetats2">
                    <img class="logoPUConviction" data-tooltip="{{ localize 'DEVASTRA.ConvictionPourSucces' }}" src="systems/devastra/images/ui/icons/Bouclier01.png" alt="Conviction" />
                  </td>
                  <td class="logopranaetats2">
                    <img class="logoetoile" src="systems/devastra/images/ui/icons/Etoile01.png" alt="Etoile" />
                  </td>
                </tr>

                <tr class="retreci">
                  <td class="logopranaetats">
                    <img class="logovaillant padding3px" src="systems/devastra/images/ui/icons/Prana04.png" alt="Vaillant" />
                  </td>
                  <td>
                    {{ localize "DEVASTRA.Vaillant" }}
                  </td>
                  <td class="center">
                    {{systemData.prana.vaillant}}
                  </td>
                  <td class="logopranaetats2">
                    <img class="logoPUConviction" data-tooltip="{{ localize 'DEVASTRA.ConvictionPourSucces' }}" src="systems/devastra/images/ui/icons/Bouclier01.png" alt="Conviction" />
                  </td>
                  <td class="logopranaetats2">

                  </td>
              </tr>

                <tr class="retreci">
                  <td>
                    <img class="logotenace padding3px" src="systems/devastra/images/ui/icons/Prana03.png" alt="Tenace" />
                  </td>
                  <td>
                    {{ localize "DEVASTRA.Tenace" }}
                  </td>
                  <td class="center">
                    {{systemData.prana.tenace}}
                  </td>
                  <td class="logopranaetats2">
                    <img class="logobonusexplosif" data-tooltip="{{ localize 'DEVASTRA.DisposeBonusExplosif' }}" src="systems/devastra/images/ui/icons/De02.png" alt="Bonus explosif" />
                  </td>
                  <td class="logopranaetats2">

                  </td>
                </tr>

                <tr class="retreci">
                  <td>
                    <img class="logoaffaibli padding3px" src="systems/devastra/images/ui/icons/Prana02.png" alt="Affaibli" />
                  </td>
                  <td>
                    {{ localize "DEVASTRA.Affaibli" }}
                  </td>
                  <td class="center">
                    {{systemData.prana.affaibli}}
                  </td>
                  <td class="logopranaetats2">
                    <img class="logobonusexplosif" data-tooltip="{{ localize 'DEVASTRA.DisposeBonusExplosif' }}" src="systems/devastra/images/ui/icons/De02.png" alt="Bonus explosif" />
                  </td>
                  <td class="logopranaetats2">

                  </td>
                </tr>

                <tr class="retreci">
                  <td>
                    <img class="logovulnerable padding3px" src="systems/devastra/images/ui/icons/Prana01.png" alt="Vulnérable" />
                  </td>
                  <td>
                    {{ localize "DEVASTRA.Vulnérable" }}
                  </td>
                  <td class="center">
                    {{systemData.prana.vulnerable}}
                  </td>
                  <td class="logopranaetats2">
                    <img class="logobonusexplosif" data-tooltip="{{ localize 'DEVASTRA.DisposeBonusExplosif' }}" src="systems/devastra/images/ui/icons/De02.png" alt="Bonus explosif" />
                  </td>
                  <td class="logopranaetats2">
                    <img class="logobonusrecoitblessure" data-tooltip="{{ localize 'DEVASTRA.RecoitBlessure' }}" src="systems/devastra/images/ui/icons/Coeur02.png" alt="Recoit Blessure" />
                  </td>
                </tr>

              </table>
            </div>

          </div>
        </div>
        <br>
        <div>
          <h3 class="tab-sous-titre">{{ localize "DEVASTRA.Conviction" }}</h3>
          <div class="convictionDiv">
            <div class="convictionCol">
              <img class="logoconviction padding3px" src="systems/devastra/images/ui/icons/Bouclier01.png" alt="Conviction" />
            </div>
            <div class="convictionCol valeur center">
              <p data-tooltip="{{ localize 'DEVASTRA.ConvictionScore' }}">{{systemData.conviction.value}}</p>
            </div>
            <div class="convictionCol smallText">
              <table>
                <tr>
                  <th>
                    {{ localize "DEVASTRA.Utilisations(MaxChakra):" }}
                  </th>
                </tr>
                <tr>
                  <td data-tooltip="{{ localize 'DEVASTRA.Exceller' }}">
                    <b class="click clickplutotprompt">{{ localize "DEVASTRA.[L]" }}</b>&nbsp;{{ localize "DEVASTRA.+1SuccesAutomatique(SiVaillant)" }}
                  </td>
                </tr>
                <tr>
                  <td data-tooltip="{{ localize 'DEVASTRA.NePasAbandonner' }}">
                    <b class="click clickplutotprompt">{{ localize "DEVASTRA.[L]"}}</b>&nbsp;{{ localize "DEVASTRA.IgnorerUnMalus" }}
                  </td>
                </tr>
                <tr>
                  <td data-tooltip="{{ localize 'DEVASTRA.GarderLeRythme' }}">
                    <b class="click clickobtenirdmashakti">{{ localize "DEVASTRA.[G]"}}</b>&nbsp;{{ localize "DEVASTRA.ObtenirDMaShakti" }}
                  </td>
                </tr>
                <tr>
                  <td data-tooltip="{{ localize 'DEVASTRA.RecentrerSesChakras' }}">
                    <b class="click clickrecupererdmypluschakraatman">{{ localize "DEVASTRA.[A]" }}</b>&nbsp;{{ localize "DEVASTRA.Recuperer(DMy+Chakra)Atman" }}
                  </td>
                </tr>
                <tr>
                  <td data-tooltip="{{ localize 'DEVASTRA.ReprendreSonSouffle' }}">
                    <b class="click clickrecupererdphpluschakraprana">{{ localize "DEVASTRA.[A]" }}</b>&nbsp;{{ localize "DEVASTRA.Recuperer(DPh+Chakra)Prana(SiVulnerable)" }}
                  </td>
                </tr>
              </table>
  
            </div>
          </div>

          <div class="pileConviction">
            <div class="columnPile" data-tooltip="{{ localize 'DEVASTRA.TokenConvictionPile' }}">
              {{#if conviction}}
                <img class="jeton dropshadow" src="systems/devastra/images/ui/JetonConviction.webp" alt="Jeton Conviction" />
              {{else}}    
                <img class="cercle" src="systems/devastra/images/ui/Cercle.png" alt="Pile de Jetons" />
              {{/if}}
            </div>
            <div class="reduit center">
              {{#if locked}}
              <p data-tooltip="{{ localize 'DEVASTRA.Restants' }}">{{systemData.conviction.piledejetons}}</p>
              {{else}}
              <input class="input" type="number" placeholder="0" min="0" step="1" name="system.conviction.piledejetons" value="{{systemData.conviction.piledejetons}}" data-tooltip="{{ localize 'DEVASTRA.Restants' }}" />
              {{/if}}
              &nbsp;
              <p class="textred">{{ localize 'DEVASTRA.Restants' }}</p>
            </div>
            <div class="columnEmpty">
            </div>
          </div>

        </div>

      </div>
    
      <div class="rightDiv">

        <div>
          <h3 class="tab-sous-titre">{{ localize "DEVASTRA.Atman" }}</h3>
          <div class="atmanDiv">
            <div class="atmanCol1">
              <img class="logoatman padding3px" src="systems/devastra/images/ui/icons/Atman.png" alt="Atman" />
            </div>
            <div class="atmanCol2">
              <p class="valeur center" data-tooltip="{{ localize 'DEVASTRA.AtmanScore' }}">{{systemData.atman.max}}</p>
              <input class="input" type="number" placeholder="0" min="0" step="1" name="system.atman.value" value="{{systemData.atman.value}}" data-tooltip="{{ localize 'DEVASTRA.Actuel' }}" />
            </div>
            <div class="atmanCol2">
              <p class="valeur center">&nbsp;</p>
              <input class="input" type="number" placeholder="0" min="0" step="1" name="system.atman.bonus" value="{{systemData.atman.bonus}}" data-tooltip="{{ localize 'DEVASTRA.BonusReserveAtmanDevastra' }}" />
              <p class="textred">{{ localize 'DEVASTRA.BonusDevastra' }}</p>  
            </div>

          </div>
        </div>
        <br>
        <div>
          <h3 class="tab-sous-titre">{{ localize "DEVASTRA.Shakti" }}</h3>
          <div class="shaktiDiv">
            <div class="shaktiCol columnWrap">
              <img class="logoshakti padding3px" src="systems/devastra/images/ui/icons/Shakti.png" alt="Shakti" />
              <div class="click clickondieshakti shaktiDie" data-libel-id="shakti-die">
                  <img class="d1click" src="systems/devastra/images/ui/d6_fond_transp.png" data-tooltip="{{ localize 'DEVASTRA.DeterminerJetShakti' }}" alt="Die" />
              </div>
            </div>
            <div class="shaktiCol columnPile">
              <div class="myPile shaktiJeton grab"  data-tooltip="{{ localize 'DEVASTRA.TokenPileShakti' }}">
                {{#if shakti}}
                  <img class="jeton dropshadow" src="systems/devastra/images/ui/JetonShakti.webp" alt="Jeton Shakti" />
                {{else}}
                  <img class="cercle" src="systems/devastra/images/ui/Cercle.png" alt="Pile de Jetons" />
                {{/if}}
              </div>
              <div class="myPile center">
                {{#if locked}}
                <p data-tooltip="{{ localize 'DEVASTRA.Restants' }}">{{systemData.shakti.piledejetons}}</p>
                {{else}}
                <input class="input" type="number" placeholder="0" min="0" step="1" name="system.shakti.piledejetons" value="{{systemData.shakti.piledejetons}}" data-tooltip="{{ localize 'DEVASTRA.Restants' }}" />
                {{/if}}
                <p class="textred">{{ localize 'DEVASTRA.Restants' }}</p>

              </div>
            </div>
            <div class="shaktiCol reduit">
              <p class="center" data-tooltip="{{ localize 'DEVASTRA.ShaktiMax' }}">{{systemData.shakti.max}}</p>
              <p class="textred">{{ localize 'DEVASTRA.Max' }}</p>
            </div>
            <div class="shaktiCol smallText">
              <table>
                <tr>
                  <th>
                    {{ localize "DEVASTRA.UtilisationsShakti:" }}
                  </th>
                </tr>
                <tr>
                  <td>
                    <b class="click clickplutotjeton">{{ localize "DEVASTRA.[●]"}}</b>&nbsp;{{ localize "DEVASTRA.+1ScoreInitiative" }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <b class="click clickplutotjeton">{{ localize "DEVASTRA.[●]"}}</b>&nbsp;{{ localize "DEVASTRA.+1Action" }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <b class="click clickplutotprompt">{{ localize "DEVASTRA.[●]"}}</b>&nbsp;{{ localize "DEVASTRA.+2DAttaqueSurJet" }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <b class="click clickplutotattaque">{{ localize "DEVASTRA.[●]"}}</b>&nbsp;{{ localize "DEVASTRA.Defensif-1Succes" }}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <br>
        <div>
          <h3 class="tab-sous-titre">{{ localize "DEVASTRA.Action" }}</h3>
          <div class="actionDiv">
            <div class="actionCol actionColJeton columnPile grab" data-tooltip="{{ localize 'DEVASTRA.TokenPileAction' }}">
              {{#if action}}
                <img class="jeton dropshadow" src="systems/devastra/images/ui/JetonAction.webp" alt="Jeton Action" />
              {{else}}    
                <img class="cercle" src="systems/devastra/images/ui/Cercle.png" alt="Pile de Jetons" />
              {{/if}}
            </div>
            <div class="actionCol click clickdownaction center">
              <img class="padding10px" data-tooltip="{{ localize 'DEVASTRA.ClicObtenirJetonAction' }}" src="systems/devastra/images/ui/download.png" alt="Action" />
              <p class="textred">{{ localize 'DEVASTRA.ObtenirJetonAction' }}</p>
            </div>
          </div>
        </div>

      </div>
    
    
    </div>
  </div>
  <img class="background" src="/systems/devastra/images/ui/fond_de_page_mandala.png" />
</div>
