<form class="flexcol {{cssClass}}" autocomplete="off">
    {{log 'blessureoustatut-sheet' this}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
            </h1>
            {{#if (or playersEditItems isGM)}}
                <div class="reference">
                    <label><b>{{localize "DEVASTRA.Reference"}}</b></label>
                    <input class="input" type="text" placeholder="{{ localize 'DEVASTRA.Reference' }}" name="system.reference" value="{{systemData.reference}}" />
                </div>
            {{else}}
                <div class="value">
                    <label><b>{{ localize "DEVASTRA.AspectValue" }}</b></label>
                    {{systemData.value }}
                </div>
                <div class="resource">
                    <label><b>{{localize "DEVASTRA.Reference"}}</b></label>
                    {{systemData.reference}}
                </div>
            {{/if}}

        </div>
    </header>
	
	{{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description-technique">{{localize "DEVASTRA.Technique"}}</a>
        <a class="item" data-tab="description-narratif">{{localize "DEVASTRA.Narrative"}}</a>
        <a class="item" data-tab="data">{{localize "DEVASTRA.Data"}}</a>
        <a class="item" data-tab="notes">{{localize "DEVASTRA.Notes"}}</a>
    </nav>
	
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{#if (or playersEditItems isGM)}}
        {{!-- Technique Tab --}}
        <div class="tab" data-group="primary" data-tab="description-technique">
            {{editor techniqueHTML target="system.technique" button=true editable=editable engine="prosemirror"}}
        </div>


		{{!-- Narratif  Tab --}}
        <div class="tab" data-group="primary" data-tab="description-narratif">
            {{editor narratifHTML target="system.narratif" button=true editable=editable engine="prosemirror"}}
        </div>


        {{!-- Data Tab --}}
        <div class="tab data" data-group="primary" data-tab="data">
            <div>
                <label><b>{{localize "DEVASTRA.Subtype"}}</b></label>
            </div>
            <div>
                <select name="system.subtype" data-type="String">
                    {{#select systemData.subtype selected=systemData.subtype}}
                        <option value="0">{{ localize "DEVASTRA.Blessure" }}</option>
                        <option value="1">{{ localize "DEVASTRA.Statut" }}</option>
                    {{/select}}
                </select>
            </div>
            <div>
                <label><b>{{localize "DEVASTRA.Domain1"}}</b></label>
            </div>
            <div>
                <select name="system.domain" data-type="String">
                    {{#select systemData.domain selected=systemData.domain}}
                        <option value="0">{{ localize "DEVASTRA.opt.none" }}</option>
                        <option value="1">@domains.dph</option>
                        <option value="2">@domains.dma</option>
                        <option value="3">@domains.din</option>
                        <option value="4">@domains.dso</option>
                        <option value="5">@domains.dmy</option>
                    {{/select}}
                </select>
            </div>
            <div>
                <label><b>{{localize "DEVASTRA.Domain2"}}</b></label>
            </div>
            <div>
                <select name="system.domain2" data-type="String">
                    {{#select systemData.domain2 selected=systemData.domain2}}
                        <option value="0">{{ localize "DEVASTRA.opt.none" }}</option>
                        <option value="1">@domains.dph</option>
                        <option value="2">@domains.dma</option>
                        <option value="3">@domains.din</option>
                        <option value="4">@domains.dso</option>
                        <option value="5">@domains.dmy</option>
                    {{/select}}
                </select>
            </div>
            <div>
                <label><b>{{localize "DEVASTRA.Domain3"}}</b></label>
            </div>
            <div>
                <select name="system.domain3" data-type="String">
                    {{#select systemData.domain3 selected=systemData.domain3}}
                        <option value="0">{{ localize "DEVASTRA.opt.none" }}</option>
                        <option value="1">@domains.dph</option>
                        <option value="2">@domains.dma</option>
                        <option value="3">@domains.din</option>
                        <option value="4">@domains.dso</option>
                        <option value="5">@domains.dmy</option>
                    {{/select}}
                </select>
            </div>

        </div>
        {{else}}
        {{!-- Technique Tab --}}
        <div class="tab" data-group="primary" data-tab="description-technique">
            {{{systemData.technique}}}
        </div>


        {{!-- Narratif  Tab --}}
        <div class="tab" data-group="primary" data-tab="description-narratif">
            {{{systemData.narratif}}}
        </div>


        {{!-- Data Tab --}}
        <div class="tab data" data-group="primary" data-tab="data">
            <div class="equipped">
                <span class="check"><input type="checkbox" name="system.equipped" {{checked systemData.equipped}} /><label><b>{{localize "DEVASTRA.Equipped"}}</b></label></span>
            </div>
            <div>
                <label><b>{{localize "DEVASTRA.Subtype"}}</b></label>
            </div>
            <div>
                <select class="subtype">
                    {{#select systemData.subtype}}
                        <option value="0">{{ localize "DEVASTRA.Blessure" }}</option>
                        <option value="1">{{ localize "DEVASTRA.Statut" }}</option>
                    {{/select}}
                </select>
            </div>
			<div class="value">
				<label><b>{{localize "DEVASTRA.Valeur1"}}</b></label>
				<input class="input" type="number" placeholder="{{ localize 'DEVASTRA.Niveau' }}" name="system.value" value="{{systemData.value}}" />
			</div>
            <div>
                <label><b>{{localize "DEVASTRA.Domain1"}}</b></label>
            </div>
            <div>
                <select name="system.domain" data-type="String">
                    {{#select systemData.domain selected=systemData.domain}}
                        <option value="0">{{ localize "DEVASTRA.opt.none" }}</option>
                        <option value="1">@domains.dph</option>
                        <option value="2">@domains.dma</option>
                        <option value="3">@domains.din</option>
                        <option value="4">@domains.dso</option>
                        <option value="5">@domains.dmy</option>
                    {{/select}}
                </select>
            </div>
            <div class="value">
				<label><b>{{localize "DEVASTRA.Valeur2"}}</b></label>
				<input class="input" type="number" placeholder="{{ localize 'DEVASTRA.Niveau' }}" name="system.value2" value="{{systemData.value2}}" />
			</div>
            <div>
                <label><b>{{localize "DEVASTRA.Domain2"}}</b></label>
            </div>
            <div>
                <select name="system.domain2" data-type="String">
                    {{#select systemData.domain2 selected=systemData.domain2}}
                        <option value="0">{{ localize "DEVASTRA.opt.none" }}</option>
                        <option value="1">@domains.dph</option>
                        <option value="2">@domains.dma</option>
                        <option value="3">@domains.din</option>
                        <option value="4">@domains.dso</option>
                        <option value="5">@domains.dmy</option>
                    {{/select}}
                </select>
            </div>
			<div class="value">
				<label><b>{{localize "DEVASTRA.Valeur3"}}</b></label>
				<input class="input" type="number" placeholder="{{ localize 'DEVASTRA.Niveau' }}" name="system.value3" value="{{systemData.value3}}" />
			</div>
            <div>
                <label><b>{{localize "DEVASTRA.Domain3"}}</b></label>
            </div>
            <div>
                <select name="system.domain3" data-type="String">
                    {{#select systemData.domain3 selected=systemData.domain3}}
                        <option value="0">{{ localize "DEVASTRA.opt.none" }}</option>
                        <option value="1">@domains.dph</option>
                        <option value="2">@domains.dma</option>
                        <option value="3">@domains.din</option>
                        <option value="4">@domains.dso</option>
                        <option value="5">@domains.dmy</option>
                    {{/select}}
                </select>
            </div>
        </div>

		{{/if}}
		{{!-- Notes Tab --}}
        <div class="tab" data-group="primary" data-tab="notes">
            {{editor notesHTML target="system.notes" button=true editable=editable engine="prosemirror"}}
        </div>

    </section>
</form>