<form class="flexcol {{cssClass}}" autocomplete="off">
    {{log 'devastra-sheet' this}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
            </h1>
            {{#if (or playersEditItems isGM)}}
                <div class="reference">
                    <label><b>{{localize "DEVASTRA.Reference"}}</b></label>
                    <input class="input" type="text" placeholder="{{ localize 'DEVASTRA.Reference' }}" name="system.reference" value="{{systemData.reference}}" />
                </div>
            {{else}}
                <div class="value">
                    <label><b>{{ localize "DEVASTRA.AspectValue" }}</b></label>
                    {{systemData.value }}
                </div>
                <div class="resource">
                    <label><b>{{localize "DEVASTRA.Reference"}}</b></label>
                    {{systemData.reference}}
                </div>
            {{/if}}

        </div>
    </header>
	
	{{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description-technique">{{localize "DEVASTRA.Technique"}}</a>
        <a class="item" data-tab="description-narratif">{{localize "DEVASTRA.Narrative"}}</a>
        <a class="item" data-tab="data">{{localize "DEVASTRA.Data"}}</a>
        <a class="item" data-tab="notes">{{localize "DEVASTRA.Notes"}}</a>
    </nav>
	
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{#if (or playersEditItems isGM)}}
        {{!-- Technique Tab --}}
        <div class="tab" data-group="primary" data-tab="description-technique">
            {{editor techniqueHTML target="system.technique" button=true editable=editable engine="prosemirror"}}
        </div>


		{{!-- Narratif  Tab --}}
        <div class="tab" data-group="primary" data-tab="description-narratif">
            {{editor narratifHTML target="system.narratif" button=true editable=editable engine="prosemirror"}}
        </div>


        {{!-- Data Tab --}}
        <div class="tab data" data-group="primary" data-tab="data">
            <div class="equipped">
				<td class="check"><input type="checkbox" name="system.equipped" {{checked systemData.equipped}} /><label><b>{{localize "DEVASTRA.Equipped"}}</b></label></td>
			</div>
			<div class="deva">
				<label><b>{{localize "DEVASTRA.Deva"}}</b></label>
				<input class="input" type="text" placeholder="{{ localize 'DEVASTRA.Deva' }}" name="system.deva" value="{{systemData.deva}}" />
			</div>
			<div class="nature">
				<label><b>{{localize "DEVASTRA.Nature"}}</b></label>
				<input class="input" type="text" placeholder="{{ localize 'DEVASTRA.Nature' }}" name="system.nature" value="{{systemData.nature}}" />
			</div>
			<div class="bonusreserveatman">
				<label><b>{{localize "DEVASTRA.Bonus Reserve Atman"}}</b></label>
				<input class="input" type="number" placeholder="{{ localize 'DEVASTRA.Bonus Reserve Atman' }}" name="system.bonusreserveatman" value="{{systemData.bonusreserveatman}}" />
			</div>
			<div class="attack">
				<label><b>{{localize "DEVASTRA.Attack"}}</b></label>
				<input class="input" type="text" placeholder="{{ localize 'DEVASTRA.AttackExample' }}" name="system.attack" value="{{systemData.attack}}" />
			</div>
            <div class="attack-base">
                <label><b>{{localize "DEVASTRA.Attack_base"}}</b></label>
                <input class="input" type="text" placeholder="{{ localize 'DEVASTRA.Attack_base' }}" name="system.attack_base" value="{{systemData.attack_base}}" />
            </div>
            <div class="damage-base">
				<label><b>{{localize "DEVASTRA.Damage_base"}}</b></label>
				<input class="input" type="text" placeholder="{{ localize 'DEVASTRA.Damage_base' }}" name="system.damage_base" value="{{systemData.damage_base}}" />
			</div>
            <div class="damage">
				<label><b>{{localize "DEVASTRA.Damage"}}</b></label>
				<input class="input" type="text" placeholder="{{ localize 'DEVASTRA.DamageExample' }}" name="system.damage" value="{{systemData.damage}}" />
			</div>
			<div class="range">
				<label><b>{{localize "DEVASTRA.Range"}}</b></label>
				<input class="input" type="text" placeholder="{{ localize 'DEVASTRA.Range' }}" name="system.range" value="{{systemData.range}}" />
			</div>
			<div class="protection">
				<label><b>{{localize "DEVASTRA.Protection"}}</b></label>
				<input class="input" type="text" placeholder="{{ localize 'DEVASTRA.Protection' }}" name="system.protection" value="{{systemData.protection}}" />
			</div>
        </div>
        {{else}}
        {{!-- Technique Tab --}}
            <div class="tab" data-group="primary" data-tab="description-technique">
                {{{systemData.technique}}}
            </div>


            {{!-- Narratif  Tab --}}
            <div class="tab" data-group="primary" data-tab="description-narratif">
                {{{systemData.narratif}}}
            </div>


            {{!-- Data Tab --}}
            <div class="tab data" data-group="primary" data-tab="data">
                <div class="equipped">
                    <td class="check"><input type="checkbox" name="system.equipped" {{checked systemData.equipped}} /><label><b>{{localize "DEVASTRA.Equipped"}}</b></label></td>
                </div>
                <div class="deva">
                    <label><b>{{localize "DEVASTRA.Deva"}}</b></label>
                    <input class="input" type="text" placeholder="{{ localize 'DEVASTRA.Deva' }}" name="system.deva" value="{{systemData.deva}}" />
                </div>
                <div class="nature">
                    <label><b>{{localize "DEVASTRA.Nature"}}</b></label>
                    <input class="input" type="text" placeholder="{{ localize 'DEVASTRA.Nature' }}" name="system.nature" value="{{systemData.nature}}" />
                </div>
                <div class="bonusreserveatman">
                    <label><b>{{localize "DEVASTRA.Bonus Reserve Atman"}}</b></label>
                    <input class="input" type="number" placeholder="{{ localize 'DEVASTRA.Bonus Reserve Atman' }}" name="system.bonusreserveatman" value="{{systemData.bonusreserveatman}}" />
                </div>
                <div class="attack">
                    <label><b>{{localize "DEVASTRA.Attack"}}</b></label>
                    <input class="input" type="text" placeholder="{{ localize 'DEVASTRA.AttackExample' }}" name="system.attack" value="{{systemData.attack}}" />
                </div>
                <div class="attack-base">
                    <label><b>{{localize "DEVASTRA.Attack_base"}}</b></label>
                    <input class="input" type="text" placeholder="{{ localize 'DEVASTRA.Attack_base' }}" name="system.attack_base" value="{{systemData.attack_base}}" />
                </div>
                <div class="damage-base">
                    <label><b>{{localize "DEVASTRA.Damage_base"}}</b></label>
                    <input class="input" type="text" placeholder="{{ localize 'DEVASTRA.Damage_base' }}" name="system.damage_base" value="{{systemData.damage_base}}" />
                </div>
                <div class="damage">
                    <label><b>{{localize "DEVASTRA.Damage"}}</b></label>
                    <input class="input" type="text" placeholder="{{ localize 'DEVASTRA.DamageExample' }}" name="system.damage" value="{{systemData.damage}}" />
                </div>
                <div class="range">
                    <label><b>{{localize "DEVASTRA.Range"}}</b></label>
                    <input class="input" type="text" placeholder="{{ localize 'DEVASTRA.Range' }}" name="system.range" value="{{systemData.range}}" />
                </div>
                <div class="protection">
                    <label><b>{{localize "DEVASTRA.Protection"}}</b></label>
                    <input class="input" type="text" placeholder="{{ localize 'DEVASTRA.Protection' }}" name="system.protection" value="{{systemData.protection}}" />
                </div>
            </div>
		{{/if}}

		{{!-- Notes Tab --}}
        <div class="tab" data-group="primary" data-tab="notes">
            {{editor notesHTML target="system.notes" button=true editable=editable engine="prosemirror"}}
        </div>

    </section>
</form>